[2020-01-16 09:11] g4s8 opened #1 "MVP"
Working docker registry storage adapter.

 - [x] - #2
 - [ ] - #5
 - [x] - #6
 - [x] - #7
 - [ ] - #10
 - [ ] - #11
 - [x] - #12
 - [x] - #13
 - [x] - #17

[2020-01-16 12:40] g4s8 commented on #1
@rultor hello

[2020-01-16 12:41] rultor commented on #1
@g4s8 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2020-01-16 13:34] 0pdd opened #2 "Repo.java:30-35: Add blob, tags, metadata methods to..."
The puzzle `1-829295da` from #1 has to be resolved:

https://github.com/artipie/docker-adapter/blob/c4d971a3daf5980fab8aa461aee09b0e25d5b3eb/src/main/java/com/artipie/docker/Repo.java#L30-L35

The puzzle was created by Kirill on 16-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-01-16 13:34] 0pdd commented on #2
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `artipie/docker-adapter` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/artipie/docker-adapter/settings/collaboration):

[code]

[2020-01-16 13:34] 0pdd commented on #1
@g4s8 the puzzle [#2](https://github.com/artipie/docker-adapter/issues/2) is still not solved.

[2020-01-16 15:32] amihaiemil opened #3 "Contribute to docker-java-api?"
I already have an adapter for Docker's API. So far, it covers only parts of the Engine API, but we could continue working on it so it extends also the Registry API.

Check it out: https://www.github.com/amihaiemil/docker-java-api

It's built using Apache HTTP Client.

[2020-01-16 15:54] 0pdd opened #5 ".rultor.yml:4-6: Request access to settings from..."
The puzzle `1-6d81449e` from #1 has to be resolved:

https://github.com/artipie/docker-adapter/blob/ba38463bef4673d0048e6e9eadeca9a5261cf087/.rultor.yml#L4-L6

The puzzle was created by @g4s8 on 16-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2020-01-16 15:54] 0pdd commented on #5
For some reason I wasn't able to add GitHub labels `` to this issue (required=`pdd`, `bug`; existing=`bug`, `documentation`, `duplicate`, `enhancement`, `good first issue`, `help wanted`, `invalid`, `pdd`, `question`, `wontfix`). Please, [submit a ticket](https://github.com/yegor256/0pdd/issues/new) to us with the text you see below:

[code]

[2020-01-16 15:54] 0pdd commented on #1
@g4s8 2 puzzles [#2](https://github.com/artipie/docker-adapter/issues/2), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved.

[2020-01-16 16:01] g4s8 commented on #3
@amihaiemil thanks for suggestion, but the purpose of this repo is to create an abstraction layer for Docker registry files layout structure without using Docker itself. It will be used by binary repository aggregator, see: https://github.com/artipie/white-paper

[2020-01-16 16:08] #2 closed

[2020-01-16 16:08] 0pdd commented on #2
The puzzle `1-829295da` has disappeared from the source code, that's why I closed this issue.

[2020-01-16 16:08] 0pdd opened #6 "BlobStore.java:30-36: Define blob store interface: it..."
The puzzle `2-2d37709e` from #2 has to be resolved:

https://github.com/artipie/docker-adapter/blob/fa9cf3bf3b093e0af5e443840f966a41baf00193/src/main/java/com/artipie/docker/BlobStore.java#L30-L36

The puzzle was created by @g4s8 on 16-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-01-16 16:08] 0pdd opened #7 "Repo.java:30-33: Add manifest with tags, revision method..."
The puzzle `2-46bb1795` from #2 has to be resolved:

https://github.com/artipie/docker-adapter/blob/fa9cf3bf3b093e0af5e443840f966a41baf00193/src/main/java/com/artipie/docker/Repo.java#L30-L33

The puzzle was created by @g4s8 on 16-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-01-16 16:08] 0pdd commented on #1
@g4s8 3 puzzles [#5](https://github.com/artipie/docker-adapter/issues/5), [#6](https://github.com/artipie/docker-adapter/issues/6), [#7](https://github.com/artipie/docker-adapter/issues/7) are still not solved; solved: [#2](https://github.com/artipie/docker-adapter/issues/2).

[2020-01-16 16:08] 0pdd commented on #2
@0pdd 2 puzzles [#6](https://github.com/artipie/docker-adapter/issues/6), [#7](https://github.com/artipie/docker-adapter/issues/7) are still not solved.

[2020-01-16 16:12] amihaiemil commented on #3
@g4s8 I see, thanks! I'm closing this :)

[2020-01-16 16:12] #3 closed

[2020-01-20 08:20] #6 closed

[2020-01-20 08:20] 0pdd commented on #6
The puzzle `2-2d37709e` has disappeared from the source code, that's why I closed this issue.

[2020-01-20 08:20] 0pdd opened #10 "BlobStore.java:33-36: Add put method which should put new..."
The puzzle `6-b273da77` from #6 has to be resolved:

https://github.com/artipie/docker-adapter/blob/f8266cb7546422b05e9c344d093494a370a9e1ba/src/main/java/com/artipie/docker/storage/BlobStore.java#L33-L36

The puzzle was created by @g4s8 on 17-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-01-20 08:20] 0pdd opened #11 "AstoBlobs.java:34-37: Wait for new asto lib release and..."
The puzzle `6-613c2c91` from #6 has to be resolved:

https://github.com/artipie/docker-adapter/blob/f8266cb7546422b05e9c344d093494a370a9e1ba/src/main/java/com/artipie/docker/storage/AstoBlobs.java#L34-L37

The puzzle was created by @g4s8 on 17-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-01-20 08:20] 0pdd commented on #1
@g4s8 4 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#5](https://github.com/artipie/docker-adapter/issues/5), [#7](https://github.com/artipie/docker-adapter/issues/7) are still not solved; solved: [#2](https://github.com/artipie/docker-adapter/issues/2), [#6](https://github.com/artipie/docker-adapter/issues/6).

[2020-01-20 08:20] 0pdd commented on #2
@0pdd 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#7](https://github.com/artipie/docker-adapter/issues/7) are still not solved; solved: [#6](https://github.com/artipie/docker-adapter/issues/6).

[2020-01-20 08:20] 0pdd commented on #6
@0pdd 2 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11) are still not solved.

[2020-01-20 09:39] 0pdd opened #12 "SPEC.md:120-122: Implement manifest resolution according..."
The puzzle `7-ee6d2363` from #7 has to be resolved:

https://github.com/artipie/docker-adapter/blob/840e0f1dffbf3e1ddde2bd984b2e627c1036136c/SPEC.md#L120-L122

The puzzle was created by @g4s8 on 17-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2020-01-20 09:40] 0pdd opened #13 "SPEC.md:100-101: Implement `RepoName` class according to..."
The puzzle `1-2858970e` from #1 has to be resolved:

https://github.com/artipie/docker-adapter/blob/840e0f1dffbf3e1ddde2bd984b2e627c1036136c/SPEC.md#L100-L101

The puzzle was created by @g4s8 on 17-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2020-01-20 09:40] 0pdd commented on #1
@g4s8 6 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/13), [#5](https://github.com/artipie/docker-adapter/issues/5), [#7](https://github.com/artipie/docker-adapter/issues/7) are still not solved; solved:

[2020-01-20 09:40] 0pdd commented on #2
@0pdd 4 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#7](https://github.com/artipie/docker-adapter/issues/7) are still not solved; solved: [#6](https://github.com/artipie/docker-adapter/issues/6).

[2020-01-20 09:40] 0pdd commented on #7
@0pdd the puzzle [#12](https://github.com/artipie/docker-adapter/issues/12) is still not solved.

[2020-01-20 09:46] #7 closed

[2020-01-20 09:46] 0pdd commented on #7
The puzzle `2-46bb1795` has disappeared from the source code, that's why I closed this issue.

[2020-01-20 09:46] 0pdd commented on #1
@g4s8 5 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/13), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#2](https://github.com/artipie/docker-adapter/issues/2),

[2020-01-20 09:46] 0pdd commented on #2
@0pdd 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12) are still not solved; solved: [#6](https://github.com/artipie/docker-adapter/issues/6), [#7](https://github.com/artipie/docker-adapter/issues/7).

[2020-01-20 09:46] Sammers21 opened #14 "Significant simplification of BytesFlowAs implememntation"
Instead of implementing own Flow.Subscriber interface, RxJava3 Flowable should be used for collecting the byte flow into a list.

[2020-01-20 15:13] #12 closed

[2020-01-20 15:13] 0pdd commented on #12
The puzzle `7-ee6d2363` has disappeared from the source code, that's why I closed this issue.

[2020-01-20 15:13] 0pdd opened #17 "SPEC.md:120-123: Continue implementing manifest..."
The puzzle `12-fad349ed` from #12 has to be resolved:

https://github.com/artipie/docker-adapter/blob/43875198c077142a65909c6965e16e0b05975bdb/SPEC.md#L120-L123

The puzzle was created by @g4s8 on 20-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2020-01-20 15:13] 0pdd commented on #1
@g4s8 5 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#13](https://github.com/artipie/docker-adapter/issues/13), [#17](https://github.com/artipie/docker-adapter/issues/17), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12

[2020-01-20 15:13] 0pdd commented on #2
@0pdd 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#17](https://github.com/artipie/docker-adapter/issues/17) are still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12), [#6](https://github.com/artipie/docker-adapter/issues/6), [#7](https://github.com/artipie/docker-adapter/issues/7).

[2020-01-20 15:13] 0pdd commented on #7
@0pdd the puzzle [#17](https://github.com/artipie/docker-adapter/issues/17) is still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12).

[2020-01-20 15:13] 0pdd commented on #12
@0pdd the puzzle [#17](https://github.com/artipie/docker-adapter/issues/17) is still not solved.

[2020-01-20 16:48] g4s8 opened #18 "java.nio.Path decoupling"
This class is strongly coupled to file system though it seems more like a general URI path segment.
Let's create a new class encapsulating relative path lookups.

[2020-01-21 08:42] #13 closed

[2020-01-21 08:42] 0pdd commented on #13
The puzzle `1-2858970e` has disappeared from the source code, that's why I closed this issue.

[2020-01-21 08:43] 0pdd opened #19 "RepoName.java:62-64: Wait for PR with junit5 to be merged..."
The puzzle `13-20adae7a` from #13 has to be resolved:

https://github.com/artipie/docker-adapter/blob/78782032494129a05689df53b0aecaf124f108e5/src/main/java/com/artipie/docker/RepoName.java#L62-L64

The puzzle was created by @g4s8 on 20-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-01-21 08:43] 0pdd commented on #1
@g4s8 5 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#17](https://github.com/artipie/docker-adapter/issues/17), [#19](https://github.com/artipie/docker-adapter/issues/19), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12

[2020-01-21 08:43] 0pdd commented on #13
@0pdd the puzzle [#19](https://github.com/artipie/docker-adapter/issues/19) is still not solved.

[2020-01-21 11:42] Nimmaster opened #21 "Refactor Digest class and interface"
There is a class `com.artipie.docker.manifest.ManifestRef.Digest` and an interface `com.artipie.docker.Digest`
I think the interface should extend `ManifestRef` interface and provide default method impl for `path()`.

[2020-01-21 14:18] Nimmaster opened #22 "add IntelliJ IDEA files to .gitignore"

[2020-01-22 12:11] #22 closed

[2020-01-22 13:22] #17 closed

[2020-01-22 13:22] 0pdd commented on #17
The puzzle `12-fad349ed` has disappeared from the source code, that's why I closed this issue.

[2020-01-22 13:22] 0pdd opened #25 "Digest.java:78-81: Implement this class. It should parse..."
The puzzle `17-c21e7ed2` from #17 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b902fe692ad99d056dce9904ba96c27c00e21b1d/src/main/java/com/artipie/docker/Digest.java#L78-L81

The puzzle was created by @g4s8 on 22-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-01-22 13:22] 0pdd commented on #1
@g4s8 5 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#19](https://github.com/artipie/docker-adapter/issues/19), [#25](https://github.com/artipie/docker-adapter/issues/25), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12

[2020-01-22 13:22] 0pdd commented on #2
@0pdd 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#25](https://github.com/artipie/docker-adapter/issues/25) are still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/17), [#6](https://github.com/artipie/docker-adapter/issues/6

[2020-01-22 13:22] 0pdd commented on #7
@0pdd the puzzle [#25](https://github.com/artipie/docker-adapter/issues/25) is still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/17).

[2020-01-22 13:22] 0pdd commented on #12
@0pdd the puzzle [#25](https://github.com/artipie/docker-adapter/issues/25) is still not solved; solved: [#17](https://github.com/artipie/docker-adapter/issues/17).

[2020-01-22 13:22] 0pdd commented on #17
@0pdd the puzzle [#25](https://github.com/artipie/docker-adapter/issues/25) is still not solved.

[2020-01-22 13:53] #25 closed

[2020-01-22 13:53] 0pdd commented on #25
The puzzle `17-c21e7ed2` has disappeared from the source code, that's why I closed this issue.

[2020-01-22 13:53] 0pdd commented on #1
@g4s8 4 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#19](https://github.com/artipie/docker-adapter/issues/19), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/13

[2020-01-22 13:53] 0pdd commented on #2
@0pdd 2 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11) are still not solved; solved: [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/17), [#25](https://github.com/artipie/docker-adapter/issues/25), [#6](https://github.com/artipie/docker-adapter/issues/6

[2020-01-22 13:53] 0pdd commented on #7
@0pdd all 3 puzzles are solved here: [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/17), [#25](https://github.com/artipie/docker-adapter/issues/25).

[2020-01-22 13:53] 0pdd commented on #12
@0pdd all 2 puzzles are solved here: [#17](https://github.com/artipie/docker-adapter/issues/17), [#25](https://github.com/artipie/docker-adapter/issues/25).

[2020-01-22 13:53] 0pdd commented on #17
@0pdd the only puzzle [#25](https://github.com/artipie/docker-adapter/issues/25) is solved here.

[2020-01-22 14:11] g4s8 opened #27 "Integration testing"
Add integration tests with real Docker registry layout file. Use stubs instead of real layer blobs.

[2020-01-23 07:00] #18 closed

[2020-01-23 07:01] g4s8 commented on #21
@Nimmaster it should be fixed with #24 PR

[2020-01-23 07:01] #21 closed

[2020-01-23 07:44] 0pdd opened #29 "AstoRepoITCase.java:40-43: This test is failing. Most..."
The puzzle `27-3f53d0db` from #27 has to be resolved:

https://github.com/artipie/docker-adapter/blob/7681096236a73b00d5a2bccf4b81f59250e1b8d3/src/test/java/com/artipie/docker/storage/AstoRepoITCase.java#L40-L43

The puzzle was created by @g4s8 on 22-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-01-23 07:44] 0pdd commented on #27
@g4s8 the puzzle [#29](https://github.com/artipie/docker-adapter/issues/29) is still not solved.

[2020-01-23 09:06] #29 closed

[2020-01-23 09:06] 0pdd commented on #29
The puzzle `27-3f53d0db` has disappeared from the source code, that's why I closed this issue.

[2020-01-23 09:07] 0pdd opened #31 "AstoRepoITCase.java:41-43: This test is failing. Manifest..."
The puzzle `29-bca8bfcb` from #29 has to be resolved:

https://github.com/artipie/docker-adapter/blob/19ceb25d775f90cdb401bc039595f7f4b7af849d/src/test/java/com/artipie/docker/storage/AstoRepoITCase.java#L41-L43

The puzzle was created by @g4s8 on 23-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-01-23 09:07] 0pdd commented on #27
@g4s8 the puzzle [#31](https://github.com/artipie/docker-adapter/issues/31) is still not solved; solved: [#29](https://github.com/artipie/docker-adapter/issues/29).

[2020-01-23 09:07] 0pdd commented on #29
@0pdd the puzzle [#31](https://github.com/artipie/docker-adapter/issues/31) is still not solved.

[2020-01-23 10:42] Nimmaster opened #33 "BlobPathTest fails on Windows"
[code]

I suggest you to choose `java.net.URI` over `java.nio.file.Path` **OR** assert Path objects in tests.

related to #18

[2020-01-27 08:07] g4s8 commented on #33
@Nimmaster it should be fixed in #34 seealso: https://stackoverflow.com/q/59897473/1723695

[2020-01-27 08:07] #33 closed

[2020-01-27 08:25] 0crat commented on #33
Job `gh:artipie/docker-adapter#33` is not assigned, can't get performer

[2020-01-27 08:25] 0crat commented on #33
This job is not in scope

[2020-01-27 08:29] 0crat commented on #11
The job [#11](https://github.com/artipie/docker-adapter/issues/11) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8b64bd69-2865-4581-b63f-39fcb44875ef); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-27 08:29] 0crat commented on #11
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 08:30] 0crat commented on #11
Job `gh:artipie/docker-adapter#11` already assigned to @g4s8, can't assign to @g4s8

[2020-01-27 09:08] #27 closed

[2020-01-27 09:08] #1 closed

[2020-01-27 09:11] 0crat commented on #11
@g4s8[/z](https://www.0crat.com/u/g4s8) I see that you unassigned this issue; the order is still assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-01-27 09:11] 0crat commented on #11
Job [#11](https://github.com/artipie/docker-adapter/issues/11) is already assigned to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 09:25] 0crat commented on #27
Job `gh:artipie/docker-adapter#27` is not assigned, can't get performer

[2020-01-27 09:25] 0crat commented on #1
Job `gh:artipie/docker-adapter#1` is not assigned, can't get performer

[2020-01-27 09:25] 0crat commented on #27
This job is not in scope

[2020-01-27 09:26] 0crat commented on #1
This job is not in scope

[2020-01-27 12:11] #11 closed

[2020-01-27 12:11] 0pdd commented on #11
The puzzle `6-613c2c91` has disappeared from the source code, that's why I closed this issue.

[2020-01-27 12:11] 0pdd opened #36 "AstoBlobs.java:37-40: Implement put() method. It should..."
The puzzle `11-8017f439` from #11 has to be resolved:

https://github.com/artipie/docker-adapter/blob/407dad0982ebd0471b0d75a667be9a71c4d7d34b/src/main/java/com/artipie/docker/asto/AstoBlobs.java#L37-L40

The puzzle was created by @g4s8 on 27-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-01-27 12:11] 0pdd commented on #1
@g4s8 4 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#19](https://github.com/artipie/docker-adapter/issues/19), [#36](https://github.com/artipie/docker-adapter/issues/36), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12

[2020-01-27 12:11] 0pdd commented on #2
@0pdd 2 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#36](https://github.com/artipie/docker-adapter/issues/36) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/17), [#25](https://github.com/artipie/docker-adapter/issues/

[2020-01-27 12:11] 0pdd commented on #6
@0pdd 2 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#36](https://github.com/artipie/docker-adapter/issues/36) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11).

[2020-01-27 12:11] 0pdd commented on #11
@0pdd the puzzle [#36](https://github.com/artipie/docker-adapter/issues/36) is still not solved.

[2020-01-27 12:13] 0crat commented on #36
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-27 12:14] 0crat commented on #19
The job [#19](https://github.com/artipie/docker-adapter/issues/19) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/27ae852e-6d44-4192-885e-f43f575bc122); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-27 12:15] 0crat commented on #36
The job [#36](https://github.com/artipie/docker-adapter/issues/36) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b6529f73-12cb-4ead-97ee-264261b44a6b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-27 12:18] 0crat commented on #36
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 12:18] 0crat commented on #19
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 12:29] 0crat commented on #11
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-27 12:30] 0crat commented on #11
The job [#11](https://github.com/artipie/docker-adapter/issues/11) is now out of scope

[2020-01-27 12:32] 0crat commented on #11
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 08:05] #31 closed

[2020-01-28 08:05] 0pdd commented on #31
The puzzle `29-bca8bfcb` has disappeared from the source code, that's why I closed this issue.

[2020-01-28 08:05] 0pdd commented on #27
@g4s8 all 2 puzzles are solved here: [#29](https://github.com/artipie/docker-adapter/issues/29), [#31](https://github.com/artipie/docker-adapter/issues/31).

[2020-01-28 08:05] 0pdd commented on #29
@0pdd the only puzzle [#31](https://github.com/artipie/docker-adapter/issues/31) is solved here.

[2020-01-28 08:27] 0crat commented on #31
Job `gh:artipie/docker-adapter#31` is not assigned, can't get performer

[2020-01-28 08:29] 0crat commented on #31
This job is not in scope

[2020-01-28 10:21] g4s8 opened #39 "Unit test for ByteFlowTest"
Add unit test for `BytesFlowAs` class

[2020-01-28 10:22] 0crat commented on #39
The job [#39](https://github.com/artipie/docker-adapter/issues/39) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2a065a32-83eb-4e73-87cc-53cb6a9465fa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-28 10:23] 0crat commented on #39
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 10:26] 0crat commented on #39
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 10:26] 0crat commented on #39
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 11:07] #19 closed

[2020-01-28 11:07] 0pdd commented on #19
The puzzle `13-20adae7a` has disappeared from the source code, that's why I closed this issue.

[2020-01-28 11:08] 0pdd commented on #1
@g4s8 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#36](https://github.com/artipie/docker-adapter/issues/36), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/13

[2020-01-28 11:08] 0pdd commented on #13
@0pdd the only puzzle [#19](https://github.com/artipie/docker-adapter/issues/19) is solved here.

[2020-01-28 11:58] 0crat commented on #19
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-28 12:02] 0crat commented on #19
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 12:10] #36 closed

[2020-01-28 12:10] 0pdd commented on #36
The puzzle `11-8017f439` has disappeared from the source code, that's why I closed this issue.

[2020-01-28 12:10] 0pdd opened #41 "AstoBlobs.java:52-55: Continue implementing put..."
The puzzle `36-a89742ef` from #36 has to be resolved:

https://github.com/artipie/docker-adapter/blob/ab4a4daa76e4db29845d701c4e6ed1535f891afa/src/main/java/com/artipie/docker/asto/AstoBlobs.java#L52-L55

The puzzle was created by @g4s8 on 28-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-01-28 12:10] 0pdd commented on #1
@g4s8 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#41](https://github.com/artipie/docker-adapter/issues/41), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/13

[2020-01-28 12:10] 0pdd commented on #2
@0pdd 2 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#41](https://github.com/artipie/docker-adapter/issues/41) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/17), [#25](https://github.com/artipie/docker-adapter/issues/

[2020-01-28 12:10] 0pdd commented on #6
@0pdd 2 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#41](https://github.com/artipie/docker-adapter/issues/41) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#36](https://github.com/artipie/docker-adapter/issues/36).

[2020-01-28 12:10] 0pdd commented on #11
@0pdd the puzzle [#41](https://github.com/artipie/docker-adapter/issues/41) is still not solved; solved: [#36](https://github.com/artipie/docker-adapter/issues/36).

[2020-01-28 12:10] 0pdd commented on #36
@0pdd the puzzle [#41](https://github.com/artipie/docker-adapter/issues/41) is still not solved.

[2020-01-28 12:12] 0crat commented on #41
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-28 12:13] 0crat commented on #41
The job [#41](https://github.com/artipie/docker-adapter/issues/41) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c4cb3c87-772b-46f5-a06e-6125bd354ffc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-28 12:13] 0crat commented on #41
Job [#41](https://github.com/artipie/docker-adapter/issues/41) is already assigned to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 12:30] 0crat commented on #36
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-28 12:54] 0crat commented on #36
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 14:49] #41 closed

[2020-01-28 14:49] 0pdd commented on #41
The puzzle `36-a89742ef` has disappeared from the source code, that's why I closed this issue.

[2020-01-28 14:49] 0pdd opened #43 "AstoBlobs.java:55-58: Implement integration test for this..."
The puzzle `41-f8287a93` from #41 has to be resolved:

https://github.com/artipie/docker-adapter/blob/fb2cfd6046a4ed7d8d386dbf665a03775f0d4677/src/main/java/com/artipie/docker/asto/AstoBlobs.java#L55-L58

The puzzle was created by @g4s8 on 28-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-01-28 14:49] 0pdd opened #44 "AstoBlobs.java:59-61: Refactor this class, make it more..."
The puzzle `41-ef5f1d74` from #41 has to be resolved:

https://github.com/artipie/docker-adapter/blob/fb2cfd6046a4ed7d8d386dbf665a03775f0d4677/src/main/java/com/artipie/docker/asto/AstoBlobs.java#L59-L61

The puzzle was created by @g4s8 on 28-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-01-28 14:49] 0pdd commented on #1
@g4s8 4 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12

[2020-01-28 14:49] 0pdd commented on #2
@0pdd 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/

[2020-01-28 14:49] 0pdd commented on #6
@0pdd 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/

[2020-01-28 14:49] 0pdd commented on #11
@0pdd 2 puzzles [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44) are still not solved; solved: [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/41).

[2020-01-28 14:49] 0pdd commented on #36
@0pdd 2 puzzles [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44) are still not solved; solved: [#41](https://github.com/artipie/docker-adapter/issues/41).

[2020-01-28 14:49] 0pdd commented on #41
@0pdd 2 puzzles [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44) are still not solved.

[2020-01-28 14:49] g4s8 commented on #39
Done in #40

[2020-01-28 14:49] #39 closed

[2020-01-28 14:50] 0crat commented on #43
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-28 14:51] g4s8 opened #45 "Since 0.1"
Use `@since 0.1` instead of `1.0`

[2020-01-28 14:52] 0crat commented on #44
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-28 14:54] g4s8 commented on #45
Fixed in https://github.com/artipie/docker-adapter/commit/aa80199bb29521a6d82d94c5635d42ae8d2fa873

[2020-01-28 14:54] #45 closed

[2020-01-28 15:00] 0crat commented on #43
The job [#43](https://github.com/artipie/docker-adapter/issues/43) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e7418017-881d-447c-8886-5d33f17a9c3c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-28 15:03] 0crat commented on #43
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 15:11] 0crat commented on #41
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-28 15:12] 0crat commented on #45
Job `gh:artipie/docker-adapter#45` is not assigned, can't get performer

[2020-01-28 15:12] 0crat commented on #45
This job is not in scope

[2020-01-28 15:12] 0crat commented on #41
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-28 15:15] 0crat commented on #39
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-28 15:18] 0crat commented on #39
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-29 08:49] #43 closed

[2020-01-29 08:49] 0pdd commented on #43
The puzzle `41-f8287a93` has disappeared from the source code, that's why I closed this issue.

[2020-01-29 08:50] 0pdd opened #47 "AstoBlobsITCase.java:42-44: Implement more integration..."
The puzzle `43-c08410f5` from #43 has to be resolved:

https://github.com/artipie/docker-adapter/blob/be6bd7b07a3dfd41b17b3d19ca2910c972b71bcd/src/test/java/com/artipie/docker/storage/AstoBlobsITCase.java#L42-L44

The puzzle was created by @g4s8 on 29-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-01-29 08:50] 0pdd commented on #1
@g4s8 4 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12

[2020-01-29 08:50] 0pdd commented on #2
@0pdd 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/

[2020-01-29 08:50] 0pdd commented on #6
@0pdd 3 puzzles [#10](https://github.com/artipie/docker-adapter/issues/10), [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47) are still not solved; solved: [#11](https://github.com/artipie/docker-adapter/issues/11), [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/

[2020-01-29 08:50] 0pdd commented on #11
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47) are still not solved; solved: [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43).

[2020-01-29 08:50] 0pdd commented on #36
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47) are still not solved; solved: [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43).

[2020-01-29 08:50] 0pdd commented on #41
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47) are still not solved; solved: [#43](https://github.com/artipie/docker-adapter/issues/43).

[2020-01-29 08:50] 0pdd commented on #43
@0pdd the puzzle [#47](https://github.com/artipie/docker-adapter/issues/47) is still not solved.

[2020-01-29 08:51] 0crat commented on #47
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-29 09:09] 0crat commented on #43
Job was finished in 17 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-29 09:40] 0crat commented on #43
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-29 11:05] g4s8 opened #49 "Prepare for release"
Add missed class `AstoDocker` (ASTO implementation for `Docker` interface). Cleanup the project, remove unused classes & interfaces.

[2020-01-29 11:22] 0crat commented on #49
The job [#49](https://github.com/artipie/docker-adapter/issues/49) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1d0bc4ee-09d4-42b2-8397-0823054572c1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-29 11:22] 0crat commented on #49
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-29 11:23] 0crat commented on #49
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-29 11:24] 0crat commented on #49
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-30 08:01] #10 closed

[2020-01-30 08:01] 0pdd commented on #10
The puzzle `6-b273da77` has disappeared from the source code, that's why I closed this issue.

[2020-01-30 08:01] 0pdd commented on #1
@g4s8 3 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47), [#5](https://github.com/artipie/docker-adapter/issues/5) are still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12

[2020-01-30 08:01] 0pdd commented on #2
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47) are still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/

[2020-01-30 08:02] 0pdd commented on #6
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47) are still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/

[2020-01-30 08:51] 0crat commented on #10
Job `gh:artipie/docker-adapter#10` is not assigned, can't get performer

[2020-01-30 09:02] 0crat commented on #10
This job is not in scope

[2020-01-30 10:38] g4s8 commented on #49
@rultor release, tag=`0.1`

[2020-01-30 10:38] #5 closed

[2020-01-30 10:38] 0pdd commented on #5
The puzzle `1-6d81449e` has disappeared from the source code, that's why I closed this issue.

[2020-01-30 10:38] 0pdd commented on #1
@g4s8 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47) are still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/

[2020-01-30 10:40] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21274-580192206)

[2020-01-30 10:43] rultor commented on #49
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21274-580192206) (spent 2min)

[code]

[2020-01-30 11:15] 0crat commented on #5
Job `gh:artipie/docker-adapter#5` is not assigned, can't get performer

[2020-01-30 11:16] 0crat commented on #5
This job is not in scope

[2020-01-30 11:18] g4s8 commented on #49
@rultor release, tag=`0.1`

[2020-01-30 11:19] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21274-580207104)

[2020-01-30 11:23] rultor commented on #49
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21274-580207104) (took me 2min)

[2020-02-10 11:27] #49 closed

[2020-02-10 11:28] g4s8 opened #52 "Migrate to ByteBuffer"
Migrate to from `Pulisher<Byte>` to `ByteBuffer` as in ASTO interfaces.

[2020-02-10 11:28] g4s8 commented on #52
@0crat assign me

[2020-02-10 12:08] 0crat commented on #52
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 12:09] 0crat commented on #52
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 12:13] 0crat commented on #52
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 12:14] 0crat commented on #52
@g4s8 The job [#52](https://github.com/artipie/docker-adapter/issues/52) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/958867df-f849-4257-97d9-3cc194e9ee6d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-02-10 12:16] 0crat commented on #49
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-12 08:58] g4s8 opened #54 "HTTP front implementation"
Implement `Slice` interface with HTTP API for docker registry: https://docs.docker.com/registry/spec/api/

We decided to use same Docker image naming convention as Artifactory: first part of docker images we treat as repository name.

[2020-02-12 09:03] g4s8 commented on #54
@0crat assign me

[2020-02-12 10:16] 0crat commented on #54
@g4s8 The job [#54](https://github.com/artipie/docker-adapter/issues/54) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3d1795eb-3596-4a9b-8b29-2e571185e1b3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-02-12 10:26] 0crat commented on #54
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-12 10:52] 0crat commented on #54
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-12 10:53] 0crat commented on #54
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-13 09:04] #47 closed

[2020-02-13 09:04] 0pdd commented on #47
The puzzle `43-c08410f5` has disappeared from the source code, that's why I closed this issue.

[2020-02-13 09:04] 0pdd opened #56 "AstoBlobsITCase.java:43-45: Fix a bug with RxFile which..."
The puzzle `43-b26c76b8` from #43 has to be resolved:

https://github.com/artipie/docker-adapter/blob/0bafcf84f9271a298940b9719b9a2e71ad138cb3/src/test/java/com/artipie/docker/asto/AstoBlobsITCase.java#L43-L45

The puzzle was created by @g4s8 on 12-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-02-13 09:04] 0pdd commented on #1
@g4s8 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#56](https://github.com/artipie/docker-adapter/issues/56) are still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/

[2020-02-13 09:04] 0pdd commented on #2
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#56](https://github.com/artipie/docker-adapter/issues/56) are still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/

[2020-02-13 09:04] 0pdd commented on #6
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#56](https://github.com/artipie/docker-adapter/issues/56) are still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/

[2020-02-13 09:04] 0pdd commented on #11
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#56](https://github.com/artipie/docker-adapter/issues/56) are still not solved; solved: [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43), [#47](https://github.com/artipie/docker-adapter/issues/

[2020-02-13 09:04] 0pdd commented on #36
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#56](https://github.com/artipie/docker-adapter/issues/56) are still not solved; solved: [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43), [#47](https://github.com/artipie/docker-adapter/issues/47).

[2020-02-13 09:04] 0pdd commented on #41
@0pdd 2 puzzles [#44](https://github.com/artipie/docker-adapter/issues/44), [#56](https://github.com/artipie/docker-adapter/issues/56) are still not solved; solved: [#43](https://github.com/artipie/docker-adapter/issues/43), [#47](https://github.com/artipie/docker-adapter/issues/47).

[2020-02-13 09:04] 0pdd commented on #43
@0pdd the puzzle [#56](https://github.com/artipie/docker-adapter/issues/56) is still not solved; solved: [#47](https://github.com/artipie/docker-adapter/issues/47).

[2020-02-13 09:06] 0crat commented on #56
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 10:04] 0crat commented on #47
Job `gh:artipie/docker-adapter#47` is not assigned, can't get performer

[2020-02-14 11:33] g4s8 commented on #52
Done in #53 PR

[2020-02-14 11:33] #52 closed

[2020-02-14 14:01] 0crat commented on #52
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-17 14:11] g4s8 opened #57 "Update to latest asto"
Update `artipie/asto` to latest version and use `ByteBuffer` instead of bytes.
Change all  interface parameter types and return types from `Publisher<Byte>` to `Publisher<ByteBuffer>`.

[2020-02-19 12:41] 0pdd opened #59 "AstoRepo.java:90-92: Extract this class from AstoRepo...."
The puzzle `57-bb2ef47d` from #57 has to be resolved:

https://github.com/artipie/docker-adapter/blob/2cd6cd5c20da6966b25b5fbbaa06775f06d5cf71/src/main/java/com/artipie/docker/asto/AstoRepo.java#L90-L92

The puzzle was created by @g4s8 on 17-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-19 12:42] 0pdd commented on #57
@g4s8 the puzzle [#59](https://github.com/artipie/docker-adapter/issues/59) is still not solved.

[2020-02-19 12:43] 0crat commented on #59
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 13:33] 0crat commented on #56
The job [#56](https://github.com/artipie/docker-adapter/issues/56) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6fdcca90-144c-4f0c-8669-1907b6172446); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-19 03:44] 0crat commented on #56
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-22 16:36] 0crat commented on #56
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#56](https://github.com/artipie/docker-adapter/issues/56), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-22 19:27] 0crat commented on #56
The job [#56](https://github.com/artipie/docker-adapter/issues/56) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/cd3d9900-212d-416c-93ec-c09f7c6ac746); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-03-22 22:10] 0crat commented on #56
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-23 00:58] carlosmiranda commented on #56
@0crat refuse

[2020-03-23 06:45] 0crat commented on #56
@carlosmiranda Job refused in 10 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-23 07:39] 0crat commented on #56
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#56](https://github.com/artipie/docker-adapter/issues/56), please stop working. Reason for job resignation: Order was cancelled

[2020-03-25 21:57] 0crat commented on #56
The job [#56](https://github.com/artipie/docker-adapter/issues/56) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a6646bd0-3162-4151-8b49-00c8fee0cfe8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-03-26 08:48] #56 closed

[2020-03-26 08:48] 0pdd commented on #1
@g4s8 the puzzle [#44](https://github.com/artipie/docker-adapter/issues/44) is still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/13), [#17](https://github.com/artipie/docker-adapter/issues/

[2020-03-26 08:48] 0pdd commented on #2
@0pdd the puzzle [#44](https://github.com/artipie/docker-adapter/issues/44) is still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/17), [#25](https://github.com/artipie/docker-adapter/issues/

[2020-03-26 08:48] 0pdd commented on #6
@0pdd the puzzle [#44](https://github.com/artipie/docker-adapter/issues/44) is still not solved; solved: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/

[2020-03-26 08:48] 0pdd commented on #11
@0pdd the puzzle [#44](https://github.com/artipie/docker-adapter/issues/44) is still not solved; solved: [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43), [#47](https://github.com/artipie/docker-adapter/issues/47), [#56](https://github.com/artipie/docker-adapter/issues/

[2020-03-26 08:48] 0pdd commented on #36
@0pdd the puzzle [#44](https://github.com/artipie/docker-adapter/issues/44) is still not solved; solved: [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43), [#47](https://github.com/artipie/docker-adapter/issues/47), [#56](https://github.com/artipie/docker-adapter/issues/56).

[2020-03-26 08:48] 0pdd commented on #41
@0pdd the puzzle [#44](https://github.com/artipie/docker-adapter/issues/44) is still not solved; solved: [#43](https://github.com/artipie/docker-adapter/issues/43), [#47](https://github.com/artipie/docker-adapter/issues/47), [#56](https://github.com/artipie/docker-adapter/issues/56).

[2020-03-26 08:48] 0pdd commented on #43
@0pdd all 2 puzzles are solved here: [#47](https://github.com/artipie/docker-adapter/issues/47), [#56](https://github.com/artipie/docker-adapter/issues/56).

[2020-03-26 09:46] 0crat commented on #56
Job was finished in 10 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-30 07:51] 0pdd commented on #59
The puzzle `57-bb2ef47d` has disappeared from the source code, that's why I closed this issue.

[2020-03-30 07:51] #59 closed

[2020-03-30 07:51] 0pdd commented on #57
@g4s8 the only puzzle [#59](https://github.com/artipie/docker-adapter/issues/59) is solved here.

[2020-03-30 07:52] #57 closed

[2020-03-30 08:10] 0crat commented on #59
Job `gh:artipie/docker-adapter#59` is not assigned, can't get performer

[2020-03-30 08:10] 0crat commented on #57
Job `gh:artipie/docker-adapter#57` is not assigned, can't get performer

[2020-04-07 07:55] #54 closed

[2020-04-07 08:14] 0crat commented on #54
Job `gh:artipie/docker-adapter#54` is not assigned, can't get performer

[2020-04-08 09:05] olenagerasimova opened #73 "Unclear phrases in spec"
These two sentences in spec.md looks unclear:

implied as to the ordering of changes to a manifest.

May it's possible to improve them somehow?

[2020-04-08 09:05] 0crat commented on #73
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-10 11:16] g4s8 opened #76 "Test coverage reports"
Add test coverage reports and enforce some minimum coverage. Maven plugin `org.jacoco` can be used. The reports will be processed by external tools, e.g. https://codecov.io/ the minimum coverage rates fails a build in case of lack of tests.

[2020-04-10 11:19] 0crat commented on #76
The job [#76](https://github.com/artipie/docker-adapter/issues/76) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/37188af0-0af2-4136-b472-b9954186e9f5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy

[2020-04-10 11:59] olenagerasimova commented on #76
@g4s8 should I add todo in pom to improve code coverage? If so, what are desired numbers? Currently we have
[code]

[2020-04-10 14:23] g4s8 commented on #76
@olenagerasimova I think `0.75` for all would be fine

[2020-04-15 11:45] 0crat commented on #76
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-15 15:12] 0pdd opened #81 "pom.xml:183-186: Improve code coverage by writing..."
The puzzle `76-bbfaed36` from #76 has to be resolved:

https://github.com/artipie/docker-adapter/blob/16f3fc5fe043e756308d946958ae5b94432ca5ae/pom.xml#L183-L186

The puzzle was created by @g4s8 on 15-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2020-04-15 15:13] 0pdd commented on #76
@g4s8 the puzzle [#81](https://github.com/artipie/docker-adapter/issues/81) is still not solved.

[2020-04-15 15:14] 0crat commented on #81
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-15 15:37] g4s8 commented on #76
@olenagerasimova PR #77 was merged, closing this ticket

[2020-04-15 15:37] #76 closed

[2020-04-15 16:03] 0crat commented on #76
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-15 16:08] sereshqua commented on #76
@0crat quality good

[2020-04-19 10:35] 0crat commented on #81
The job [#81](https://github.com/artipie/docker-adapter/issues/81) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c85f57f3-835e-404d-8bc2-1a587e3f20a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-04-22 09:39] 0pdd opened #89 "AstoUploadTest.java:44-46: Implement AstoUpload...."
The puzzle `54-60715e08` from #54 has to be resolved:

https://github.com/artipie/docker-adapter/blob/a18a173e5d692911349d39ca0bfc6fa117e04997/src/test/java/com/artipie/docker/asto/AstoUploadTest.java#L44-L46

The puzzle was created by @olegmoz on 21-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-04-22 09:40] 0pdd commented on #54
@g4s8 the puzzle [#89](https://github.com/artipie/docker-adapter/issues/89) is still not solved.

[2020-04-24 09:52] 0crat commented on #81
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-24 15:48] #89 closed

[2020-04-24 15:48] 0pdd commented on #54
@g4s8 the only puzzle [#89](https://github.com/artipie/docker-adapter/issues/89) is solved here.

[2020-04-24 16:05] 0crat commented on #89
Job `gh:artipie/docker-adapter#89` is not assigned, can't get performer

[2020-04-25 18:26] paulodamaso commented on #81
@0crat wait for #84 merge

[2020-04-29 15:59] 0pdd opened #99 "UploadEntity.java:146-148: Add unit tests for..."
The puzzle `54-cd653684` from #54 has to be resolved:

https://github.com/artipie/docker-adapter/blob/60af487a84be8a75f0f441b25718884c8029b848/src/main/java/com/artipie/docker/http/UploadEntity.java#L146-L148

The puzzle was created by @olegmoz on 29-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-04-29 15:59] 0pdd commented on #54
@g4s8 the puzzle [#99](https://github.com/artipie/docker-adapter/issues/99) is still not solved; solved: [#89](https://github.com/artipie/docker-adapter/issues/89).

[2020-04-29 16:00] 0crat commented on #99
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-29 16:06] paulodamaso commented on #81
@g4s8 My previous PR on this have rotten, and now the coverage numbers are acceptable: instruction ratio is 0.86, lines is 0.83, branches is 0.81, complexity is 0.86, methods is 0.90 and there is no class missed.

Current uncovered code is mostly inside private members of classes that are hard to reach due to design concerns, so I think that we need to fix these issues before trying to cover them

[2020-04-29 17:46] 0crat commented on #99
The job [#99](https://github.com/artipie/docker-adapter/issues/99) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ca1cff1f-6fdb-4e02-9722-cd5192a4546f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-29 17:48] 0crat commented on #99
Job [#99](https://github.com/artipie/docker-adapter/issues/99) is not in the agenda of @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), can't set title

[2020-04-30 03:45] carlosmiranda commented on #99
@0crat refuse

[2020-04-30 03:45] 0crat commented on #99
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#99, Action: `created`

[2020-04-30 03:46] 0crat commented on #99
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#99, Comment: 621595353

[2020-04-30 03:46] carlosmiranda commented on #99
@0crat refuse

[2020-04-30 03:52] 0crat commented on #99
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#99](https://github.com/artipie/docker-adapter/issues/99), please stop working. Reason for job resignation: Order was cancelled

[2020-04-30 03:52] 0crat commented on #99
@carlosmiranda Job refused in 10 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-30 13:58] paulodamaso commented on #81
@g4s8 ping

[2020-04-30 17:46] 0crat commented on #99
The job [#99](https://github.com/artipie/docker-adapter/issues/99) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e244c6cf-9d0e-46a6-9432-caa59fc101dc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-05-01 12:54] g4s8 commented on #81
@paulodamaso you are right, thanks

[2020-05-01 12:54] #81 closed

[2020-05-01 13:12] 0crat commented on #81
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-01 13:13] 0crat commented on #81
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): CID: [3d50718b-425d-4ce5-8525-47db1367a89e](https://www.0crat.com/footprint/CT2E6TK9B/3d50718b-425d-4ce5-8525-47db1367a89e), Type: "Remove job from WBS"

[2020-05-01 19:23] sereshqua commented on #81
@0crat quality good

[2020-05-05 18:45] 0crat commented on #99
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-18 08:23] 0crat commented on #73
The job [#73](https://github.com/artipie/docker-adapter/issues/73) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e35fb8f3-975d-4aec-b122-0d17bcf70b28); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-18 10:20] olegmoz opened #117 "Error response body"
Docker registry is expected to respond with certain error descriptions when problems occur. Right now error responses such as invalid digest, blob not found etc are served with empty bodies.
See docs fro proper error reporting fromat: https://docs.docker.com/registry/spec/api/#errors and https://docs.docker.com/registry/spec/api/#errors-2

Example of `UNAUTHROZIED` error response from `https://reg

[2020-05-18 10:21] 0crat commented on #117
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 10:35] olegmoz opened #118 "Support chunked blobs upload"
Blobs may be uploaded by multiple chunks (PATCH requests with `Range` header). This is not supported for now and may be required for larger blobs. See Chunked Upload sections at https://docs.docker.com/registry/spec/api/#pushing-an-image and https://docs.docker.com/registry/spec/api/#blob-upload

[2020-05-18 10:36] 0crat commented on #118
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 10:46] olegmoz opened #119 "Manifest HEAD endpoint"
By specification Manifest entity is expected to respond to `HEAD` method requests in the same manner as `GET` request, but without body. See https://docs.docker.com/registry/spec/api/#detail

[2020-05-18 10:47] 0crat commented on #119
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 10:55] olegmoz opened #120 "Support for fetching blob by parts"
Docker client may download blob in parts if it is supported by server. Client may request bytes range using `Range` header in blob `GET` method request. See 'Fetch Blob Part' at https://docs.docker.com/registry/spec/api/#blob

[2020-05-18 10:55] 0crat commented on #120
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 11:05] olegmoz opened #121 "Temporary file usage in `AstoBlobs`"
`AstoBlobs.put()` implementation is using temporary file on local file system to write binary content before putting it into the storage. It is not required when blobs are small and fit in memory (manifests) or created from an upload (all other blobs, possibly large ones).

[2020-05-18 11:05] 0crat commented on #121
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 11:27] 0crat commented on #119
The job [#119](https://github.com/artipie/docker-adapter/issues/119) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e7a9a0db-28dc-44d2-ad0a-d555d19d593f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-05-18 11:27] 0crat commented on #117
The job [#117](https://github.com/artipie/docker-adapter/issues/117) assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a1ff84c6-70f1-49d6-8c3b-8e430b97c6ba); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-05-18 11:27] 0crat commented on #118
The job [#118](https://github.com/artipie/docker-adapter/issues/118) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6b70fd07-9a17-4aac-b830-d4fc51707f36); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-18 11:28] 0crat commented on #120
The job [#120](https://github.com/artipie/docker-adapter/issues/120) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fa2307eb-33b4-4af3-9c88-8d78305b8d8b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-05-18 11:28] 0crat commented on #121
The job [#121](https://github.com/artipie/docker-adapter/issues/121) assigned to @ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f001564e-5f90-4803-9a8a-69464e1d9ac0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-05-18 11:32] Sammers21 commented on #120
@0crat refuse

[2020-05-18 11:49] olegmoz opened #122 "Use Jacoco plugin settings from parent pom"
`ppom`  verion `0.3.3` now contains reference Jacoco plugin configuration, it should be used in the projec

[2020-05-18 11:49] 0crat commented on #122
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 11:55] 0crat commented on #120
@Sammers21 The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#120](https://github.com/artipie/docker-adapter/issues/120), please stop working. Reason for job resignation: Order was cancelled

[2020-05-18 11:56] 0crat commented on #120
@Sammers21 Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-18 15:17] olenagerasimova commented on #119
@olegmoz could you please explain why current implementation of `com.artipie.docker.http.ManifestEntity.Get` does not add `Docker-Content-Digest` header as specified in https://docs.docker.com/registry/spec/api/#manifest?

[2020-05-18 15:23] olegmoz commented on #119
@olenagerasimova There is no any reason for that and it may be considered to be a bug

[2020-05-19 07:33] olenagerasimova commented on #119
@olegmoz thanks for response, I've added todo to implement `Docker-Content-Digest` in manifest endpoints

[2020-05-20 08:26] 0pdd opened #128 "ManifestEntity.java:287-290: Manifest GET and HEAD..."
The puzzle `119-43b85444` from #119 has to be resolved:

https://github.com/artipie/docker-adapter/blob/942d4e6ac5972ec0bf138fa608117d912f9bbc27/src/main/java/com/artipie/docker/http/ManifestEntity.java#L287-L290

The puzzle was created by @olenagerasimova on 19-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-05-20 08:26] 0pdd opened #129 "ResponseMatcher.java:38-42: There are a lot of `AllOf<>`..."
The puzzle `119-d2c675f4` from #119 has to be resolved:

https://github.com/artipie/docker-adapter/blob/942d4e6ac5972ec0bf138fa608117d912f9bbc27/src/test/java/com/artipie/docker/http/ResponseMatcher.java#L38-L42

The puzzle was created by @olenagerasimova on 20-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-05-20 08:26] 0pdd commented on #119
@olegmoz 2 puzzles [#128](https://github.com/artipie/docker-adapter/issues/128), [#129](https://github.com/artipie/docker-adapter/issues/129) are still not solved.

[2020-05-20 08:28] 0crat commented on #129
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-20 08:28] 0crat commented on #128
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-20 08:30] #119 closed

[2020-05-20 08:49] 0crat commented on #119
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-20 08:49] 0crat commented on #119
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-20 08:49] 0crat commented on #119
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): CID: [64055e12-42eb-4cc1-9c58-da7545fa7359](https://www.0crat.com/footprint/CT2E6TK9B/64055e12-42eb-4cc1-9c58-da7545fa7359), Type: "Remove job from WBS"

[2020-05-20 09:55] 0crat commented on #120
The job [#120](https://github.com/artipie/docker-adapter/issues/120) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/cca4d42e-f1c3-42b2-a5b1-4ba6cccfde87); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-05-20 10:25] sereshqua commented on #119
@0crat quality good

[2020-05-20 15:40] #99 closed

[2020-05-20 15:41] 0pdd commented on #54
@g4s8 all 2 puzzles are solved here: [#89](https://github.com/artipie/docker-adapter/issues/89), [#99](https://github.com/artipie/docker-adapter/issues/99).

[2020-05-20 16:06] 0crat commented on #99
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2020-05-21 06:24] g4s8 commented on #99
@0crat out

[2020-05-21 06:26] 0crat commented on #99
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-21 06:29] sereshqua commented on #99
@g4s8 I am wondering why I am evaluating @ammaratef45 NOT @olegmoz ? Should the quality be bad for @ammaratef45?

[2020-05-21 06:31] g4s8 commented on #99
@sereshqua I think yes

[2020-05-21 06:35] sereshqua commented on #99
@0crat quality bad

[2020-05-21 06:45] 0crat commented on #99
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-05-21 14:58] 0pdd opened #131 "DockerSliceITCase.java:51-54: Support tests running on..."
The puzzle `54-6a79b312` from #54 has to be resolved:

https://github.com/artipie/docker-adapter/blob/ad0ab140dcef82da0f6dc2815b86422f8cd756d3/src/test/java/com/artipie/docker/http/DockerSliceITCase.java#L51-L54

The puzzle was created by @olegmoz on 18-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-05-21 14:58] 0pdd commented on #54
@g4s8 the puzzle [#131](https://github.com/artipie/docker-adapter/issues/131) is still not solved; solved: [#89](https://github.com/artipie/docker-adapter/issues/89), [#99](https://github.com/artipie/docker-adapter/issues/99).

[2020-05-21 14:59] 0crat commented on #131
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 11:24] #122 closed

[2020-05-22 11:24] 0pdd commented on #76
@g4s8 the only puzzle [#81](https://github.com/artipie/docker-adapter/issues/81) is solved here.

[2020-05-22 11:45] 0crat commented on #122
Job `gh:artipie/docker-adapter#122` is not assigned, can't get performer

[2020-05-22 12:34] olegmoz opened #135 "Upload GET endpoint"
Support upload GET endpoint, see https://docs.docker.com/registry/spec/api/#blob-upload
It would be great to reuse code for upload response generation in POST and PATCH responses.

[2020-05-22 12:35] 0crat commented on #135
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 12:40] olegmoz opened #136 "Upload start and existence check"
Upload entity is explicitly started by client using POST request and other operations are supposed to return 404 response in case upload has not been started yet.

[2020-05-22 12:40] 0crat commented on #136
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 12:42] olegmoz opened #137 "Upload cleanup on finish"
Upload data should be deleted when blob has been uploaded. Client does not send DELETE request on finish, so it should be done in the end of PUT request handling.

[2020-05-22 12:42] 0crat commented on #137
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 12:45] olegmoz opened #138 "Support upload DELETE request"
Docker registry is supposed to delete uncomplete uploads by DELETE request, see https://docs.docker.com/registry/spec/api/#blob-upload

[2020-05-22 12:45] 0crat commented on #138
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 12:47] 0crat commented on #136
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-05-25 11:10] 0crat commented on #138
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-25 11:10] 0crat commented on #137
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-25 11:10] 0crat commented on #135
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-25 11:32] 0crat commented on #135
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#135, Action: `assigned`

[2020-05-25 11:32] g4s8 commented on #135
@brastak please check this issue

[2020-05-25 11:33] g4s8 commented on #137
@olenagerasimova please check this ticket

[2020-05-25 11:33] 0crat commented on #137
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#137, Action: `assigned`

[2020-05-25 11:34] g4s8 commented on #138
@brastak please check this ticket

[2020-05-25 11:34] 0crat commented on #138
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-25 12:44] olenagerasimova commented on #137
@olegmoz do I understand correctly, that `Upload` needs `delete` method, that have to implemented by deleting content by `AstoUpload#data` key?
Also I have questions about `UploadEntity.Put#response` implementation:
1) should not we first compare digests and only then, if they match, put content to `blobStore`?
2) should upload data be removed if digests do not match?

[2020-05-25 13:07] #73 closed

[2020-05-25 13:07] 0crat commented on #73
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-25 13:13] 0crat commented on #131
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-25 13:27] olegmoz commented on #137
@olenagerasimova when an upload is deleted everything that is stored by it's root key should be removed. Right now it is only `data` file if anything. But that may change in future, we need to store multiple chunks for upload in future along with some meta info.

1. That is true, it would be better to compare digests before uploading blob content, not after as it is done now.
2. I cannot see a dir

[2020-05-25 14:24] 0crat commented on #128
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-26 07:33] 0pdd opened #142 "UploadEntity.java:133-135: Compare digests before..."
The puzzle `137-db8c6c2a` from #137 has to be resolved:

https://github.com/artipie/docker-adapter/blob/5a4e614f25ab9db64be76f94bf3f40c8f9947898/src/main/java/com/artipie/docker/http/UploadEntity.java#L133-L135

The puzzle was created by @olenagerasimova on 25-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-05-26 07:33] 0pdd opened #143 "Figure out whether should uploaded data be removed if digests do not match"
The puzzle `137-58fcdac8` from #137 has to be resolved:

https://github.com/artipie/docker-adapter/blob/5a4e614f25ab9db64be76f94bf3f40c8f9947898/src/main/java/com/artipie/docker/http/UploadEntity.java#L136-L138

The puzzle was created by @olenagerasimova on 25-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-05-26 07:33] 0pdd commented on #137
@olegmoz 2 puzzles [#142](https://github.com/artipie/docker-adapter/issues/142), [#143](https://github.com/artipie/docker-adapter/issues/143) are still not solved.

[2020-05-26 07:33] 0crat commented on #143
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-26 07:34] 0crat commented on #143
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-05-26 07:34] 0crat commented on #142
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-26 07:34] 0crat commented on #142
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-05-26 07:39] olenagerasimova commented on #137
@olegmoz could this issue be closed now?

[2020-05-26 09:44] olegmoz commented on #137
@olenagerasimova yes, closing it now. Would you like to take on related puzzles?

[2020-05-26 09:44] #137 closed

[2020-05-26 09:44] 0crat commented on #137
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-26 09:54] olenagerasimova commented on #137
@olegmoz yes, assign them to me please

[2020-05-26 10:22] 0crat commented on #143
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-26 10:23] 0crat commented on #142
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-26 11:50] olegmoz opened #147 "Reusing headers in HTTP API"
There are standard headers used in HTTP API such as "Location", "Content-Length" etc. Their usage might be unified as it is done with `DigestHeader`, `ContentType` and others

[2020-05-26 11:50] 0crat commented on #147
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-05-26 13:35] olegmoz opened #148 "Store upload start date"
Original docker registry stores upload start date in `startedat` file in format like `2020-05-19T12:58:11Z`. We also need to store upload start date so it will be possible to cleanup too old blob updates.

[2020-05-26 13:35] 0crat commented on #148
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-05-28 07:51] #128 closed

[2020-05-28 07:52] 0crat commented on #128
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#128, Action: `closed`

[2020-05-28 07:52] 0pdd commented on #119
@olegmoz the puzzle [#129](https://github.com/artipie/docker-adapter/issues/129) is still not solved; solved: [#128](https://github.com/artipie/docker-adapter/issues/128).

[2020-05-28 08:29] olegmoz commented on #128
@olenagerasimova could you please close the issue?

[2020-05-28 09:37] olegmoz opened #152 "Create integration test for pushing image with big layers"
In practice layers of Docker images might be huge (hundreds of megabytes or even gigabytes) and we need to support pushing such images into Artipie. Docker client might use still unsupported features in this case. So we need to have integration test with Docker client uploading huge image to Artipie to see what features we are lacking and keep this functionality covered in future.

[2020-05-28 09:37] 0crat commented on #152
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-05-28 09:37] 0crat commented on #152
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-28 10:02] olegmoz opened #153 "Create integration test for pulling images with big layers"
In practice layers of Docker images might be huge (hundreds of megabytes or even gigabytes) and we need to support pulling such images from Artipie. We need to have integration test with Docker client downloading huge image from Artipie to see what features we are lacking and keep this functionality covered in future.
Large image pushing test could be found in `LargeImageITCase`. Example of pull t

[2020-05-28 10:02] 0crat commented on #153
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-05-28 10:08] #131 closed

[2020-05-28 10:08] 0pdd opened #154 "DockerSliceITCase.java:50-53: Refactor DockerSliceITCase..."
The puzzle `131-58dea826` from #131 has to be resolved:

https://github.com/artipie/docker-adapter/blob/40d1d10825601b9a1245cffeb7b855002ba85fc4/src/test/java/com/artipie/docker/http/DockerSliceITCase.java#L50-L53

The puzzle was created by @olegmoz on 28-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-05-28 10:09] 0pdd commented on #54
@g4s8 the puzzle [#154](https://github.com/artipie/docker-adapter/issues/154) is still not solved; solved: [#131](https://github.com/artipie/docker-adapter/issues/131), [#89](https://github.com/artipie/docker-adapter/issues/89), [#99](https://github.com/artipie/docker-adapter/issues/99).

[2020-05-28 10:09] 0pdd commented on #131
@0pdd the puzzle [#154](https://github.com/artipie/docker-adapter/issues/154) is still not solved.

[2020-05-28 10:09] 0crat commented on #131
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-28 10:10] 0crat commented on #154
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-28 10:10] 0crat commented on #154
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-05-28 10:10] olegmoz commented on #131
@rultor release, tag=`0.2`

[2020-05-28 10:11] rultor commented on #131
@olegmoz Thanks for your request. @g4s8 Please confirm this.

[2020-05-28 10:33] g4s8 commented on #131
@rultor release, tag=`0.2`

[2020-05-28 10:34] rultor commented on #131
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22205-635259247)

[2020-05-28 10:35] rultor commented on #131
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22205-635259247) (spent 16s)

[code]

[2020-05-28 10:37] g4s8 commented on #131
@rultor release, tag=`0.2`

[2020-05-28 10:38] rultor commented on #131
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22205-635260828)

[2020-05-28 10:38] rultor commented on #131
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22205-635260828) (spent 23s)

[code]

[2020-05-28 10:59] olegmoz commented on #131
@rultor release, tag=`0.2`

[2020-05-28 11:02] rultor commented on #131
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22205-635270486)

[2020-05-28 11:08] rultor commented on #131
@0pdd @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22205-635270486) (spent 7min)

[code]

[2020-05-28 11:11] olegmoz commented on #131
@g4s8 the release is failing now for some other reason, could you please have a look at it?

[2020-05-28 11:27] g4s8 commented on #131
@olegmoz there are some test failures:
[code]

Do you know why it failed?

[2020-05-28 11:37] olegmoz commented on #131
@g4s8 this is docker client failure to pull an image from Docker Registry, here is the reason:
[code]
No idea what does it mean, may we just disable integration tests on release?

[2020-05-28 14:28] g4s8 commented on #131
@olegmoz yes, I think we can disable it here

[2020-05-28 15:49] #14 closed

[2020-05-28 15:51] 0crat commented on #14
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-28 16:07] olegmoz commented on #131
@rultor release, tag=`0.2`

[2020-05-28 16:08] rultor commented on #131
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22205-635443030)

[2020-05-28 16:08] rultor commented on #131
@0pdd @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22205-635443030) (spent 16s)

[code]

[2020-05-28 16:10] olegmoz commented on #131
@g4s8 could you please take a look at this error?

[2020-05-29 07:25] #142 closed

[2020-05-29 07:25] 0pdd commented on #142
The puzzle `137-db8c6c2a` has disappeared from the source code, that's why I closed this issue.

[2020-05-29 07:26] 0pdd opened #157 "UploadEntity.java:157-160: Content is read twice while..."
The puzzle `142-cff40642` from #142 has to be resolved:

https://github.com/artipie/docker-adapter/blob/318ef76f258f88fe9cb4f76b0a8100fcc7c324d6/src/main/java/com/artipie/docker/http/UploadEntity.java#L157-L160

The puzzle was created by @olenagerasimova on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-05-29 07:26] 0pdd opened #158 "UploadEntity.java:235-237: Introduce separate class from..."
The puzzle `142-180677f0` from #142 has to be resolved:

https://github.com/artipie/docker-adapter/blob/318ef76f258f88fe9cb4f76b0a8100fcc7c324d6/src/main/java/com/artipie/docker/http/UploadEntity.java#L235-L237

The puzzle was created by @olenagerasimova on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-05-29 07:26] 0pdd commented on #137
@olegmoz 3 puzzles [#143](https://github.com/artipie/docker-adapter/issues/143), [#157](https://github.com/artipie/docker-adapter/issues/157), [#158](https://github.com/artipie/docker-adapter/issues/158) are still not solved; solved: [#142](https://github.com/artipie/docker-adapter/issues/142).

[2020-05-29 07:26] 0pdd commented on #142
@0pdd 2 puzzles [#157](https://github.com/artipie/docker-adapter/issues/157), [#158](https://github.com/artipie/docker-adapter/issues/158) are still not solved.

[2020-05-29 07:27] 0crat commented on #158
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-29 07:27] 0crat commented on #158
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-05-29 07:27] olegmoz commented on #157
The issue is related to #121

[2020-05-29 07:27] olegmoz commented on #121
The issue is related to #157

[2020-05-29 07:27] 0crat commented on #157
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-29 07:27] 0crat commented on #157
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-05-29 07:28] 0pdd commented on #157
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-05-29 07:28] 0pdd commented on #158
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-05-29 07:28] 0crat commented on #142
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-29 07:29] 0crat commented on #158
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-29 09:10] olenagerasimova commented on #158
@olegmoz please, could you explain to me, why in `ManifestEntity.Put` we firstly obtain bytes from `body` and only then pass these bytes to blob store through publisher? Why `Content` instance is not simply created from request `body` to call `AstoBlobs#put`?

[2020-05-29 09:14] g4s8 opened #160 "Docker proxy registry"
Implement Docker proxy registry (or Docker mirror) with authentication and cache support. Default Docker mirror is described here: https://docs.docker.com/registry/recipes/mirror/

## Multi-remote

Docker proxy registry can be used to merge multiple remote registries into single one. In this case, proxy registry is trying to access remotes one by one in specified order until find applicable image.

[2020-05-29 11:17] 0crat commented on #160
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-05-29 11:18] g4s8 commented on #160
@olegmoz moved to docker-adapter repo

[2020-05-29 11:30] olegmoz commented on #131
@rultor release, tag=`0.2`

[2020-05-29 11:31] rultor commented on #131
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22205-635923068)

[2020-05-29 11:43] rultor commented on #131
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22205-635923068) (took me 12min)

[2020-05-29 12:00] olegmoz commented on #158
@olenagerasimova we do so because we need to parse and validate manifest content before saving. Manifests are not expected to be too big, so they should fit in memory.

[2020-06-01 10:04] 0crat commented on #153
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-01 10:32] #136 closed

[2020-06-01 10:32] 0crat commented on #136
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-01 12:53] brastak opened #163 "UploadEnitity.put.digest loads all layer content into the memory"
Docker layers can be really huge. `UploadEnitity.put.digest` method loads all content into the memory to calculate Sha256. Event for 128 megabytes layer it takes > 3 minutes.

[2020-06-01 12:54] 0crat commented on #163
@brastak[/z](https://www.0crat.com/u/brastak) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-01 12:54] 0crat commented on #163
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-01 16:05] olegmoz commented on #160
@g4s8 overall I like your proposal, thanks for very well written issue! Have 2 comments/questions though:

- Do you think that in multi-remote scenario we need to ask remote repos one-by-one? It might be better to send requests to all of them at once and serve first success response received. Otherwise it might work really slow.

- Not sure what do you mean by `ttl` and `maxSize` settings, these m

[2020-06-02 09:34] olegmoz opened #165 "Support base path in Docker"
Base path feature should be supported by `DockerSlice` to be integrated into Artipie

[2020-06-02 09:34] 0crat commented on #165
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-02 09:34] 0crat commented on #165
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-02 12:58] olegmoz commented on #160
@g4s8

I created a plan for development of proxy feature, please review:

Docker proxy could be implemented as instance of `Docker` interface.
That will allow to reuse HTTP layer `DockerSlice` both with `AstoDocker` and with `ProxyDocker`.
To establish that we need to refactor `Docker` and `DockerSlice` so that `DockerSlice` interacts with
`Docker` only and not with `BlobStore`. `Blob` abstraction

[2020-06-02 13:03] g4s8 commented on #160
@olegmoz thanks, looks good, let's do as you suggested.

[2020-06-02 13:06] olegmoz opened #167 "Access layers via `Repo` instead of `BlobStore` in slices"
Part of #160
`BlobStore` should not be exposed from Docker instance. Read and write layer operations should be done via `Repo` instead of direct access to `BlobStore`

[2020-06-02 13:06] 0crat commented on #167
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-02 13:09] olegmoz opened #168 "Manifest should be added as `Content` instead of `Blob` in `AstoRepo`"
Part of #160
Manifest should be added as `Content` instead of `Blob` in `AstoRepo` because `Manifests` might come from proxy and not be stored as blob at first.

[2020-06-02 13:09] 0crat commented on #168
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-02 13:11] g4s8 commented on #160
@olegmoz

I think it's necessary for user to be able to control the order of repositories. E.g. assume this situation: user has multiple Docker registries behind one Artipie proxy, each registry may contain images with a same name and tag but with different content. If user is not able to configure remotes registry order for pull, then it's not possible to predict what image exactly will be loaded

[2020-06-02 13:13] olegmoz opened #169 "Split `Repo` methods into `Manifests`, `Layers` and `Uploads`"
Part of #160
`Repo` class became too big, it could be split into into `Manifests`, `Layers` and `Uploads` with create/get methods

[2020-06-02 13:13] 0crat commented on #169
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-02 13:17] olegmoz opened #170 "Implement read only proxy `Docker`"
Part of #160
`ProxyDocker` should delegate all calls to remote repo configured by URL.
Authentication support is not part of this issue.

[2020-06-02 13:17] 0crat commented on #170
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-02 13:17] olegmoz opened #171 "Support auth in `ProxyDocker`"
Part of #160
Support authentication by username and password in `ProxyDocker`

[2020-06-02 13:18] 0crat commented on #171
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-02 13:19] olegmoz opened #172 "Implement caching proxy `Docker`"
Part of #160
Implement caching proxy `Docker`. This implementation should accept read-only `ProxyDocker` to read from and `AstoDocker` to store cache data.

[2020-06-02 13:20] 0crat commented on #172
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-02 13:22] olegmoz opened #173 "Implement multi-remote `Docker`"
Part of #160
Multi-remote `Docker` implementation should accept list of proxy dockers and forward request to them.
List of proxies should be ordered so user could specify remotes' priorities.

[2020-06-02 13:22] 0crat commented on #173
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-02 13:26] 0crat commented on #167
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-02 13:32] 0crat commented on #169
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-02 13:32] 0crat commented on #168
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 07:54] #165 closed

[2020-06-03 07:54] 0crat commented on #165
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#165, Action: `closed`

[2020-06-03 08:28] olegmoz commented on #165
@rultor release, tag=`0.2.1`

[2020-06-03 08:28] rultor commented on #165
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22262-638045086)

[2020-06-03 08:39] rultor commented on #165
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22262-638045086) (took me 10min)

[2020-06-03 09:49] #158 closed

[2020-06-03 09:49] 0pdd commented on #158
The puzzle `142-180677f0` has disappeared from the source code, that's why I closed this issue.

[2020-06-03 09:49] 0pdd opened #175 "UploadEntity.java:165-167: Digest is calculated twice..."
The puzzle `158-a4be373e` from #158 has to be resolved:

https://github.com/artipie/docker-adapter/blob/22c36d746047c0773786969639dc5b264b93855f/src/main/java/com/artipie/docker/http/UploadEntity.java#L165-L167

The puzzle was created by @olenagerasimova on 02-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-06-03 09:49] 0pdd commented on #137
@olegmoz 3 puzzles [#143](https://github.com/artipie/docker-adapter/issues/143), [#157](https://github.com/artipie/docker-adapter/issues/157), [#175](https://github.com/artipie/docker-adapter/issues/175) are still not solved; solved: [#142](https://github.com/artipie/docker-adapter/issues/142), [#158](https://github.com/artipie/docker-adapter/issues/158).

[2020-06-03 09:49] 0pdd commented on #142
@0pdd 2 puzzles [#157](https://github.com/artipie/docker-adapter/issues/157), [#175](https://github.com/artipie/docker-adapter/issues/175) are still not solved; solved: [#158](https://github.com/artipie/docker-adapter/issues/158).

[2020-06-03 09:49] 0pdd commented on #158
@0pdd the puzzle [#175](https://github.com/artipie/docker-adapter/issues/175) is still not solved.

[2020-06-03 09:50] 0crat commented on #175
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 09:50] 0crat commented on #158
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 09:59] olenagerasimova commented on #175
@olegmoz if you agree with adding `digest` parameter to `AstoBlobs#put()` to avoid double digest calculation, I'd take this issue

[2020-06-03 10:24] olegmoz commented on #175
@olenagerasimova sure

[2020-06-03 10:24] 0crat commented on #175
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 11:57] #168 closed

[2020-06-03 11:57] 0pdd opened #176 "AstoRepo.java:53-58: Extract reading `Content` as byte..."
The puzzle `168-9682376c` from #168 has to be resolved:

https://github.com/artipie/docker-adapter/blob/a04c6d92bd9ae27ba2db11bfc96b080b39d60c63/src/main/java/com/artipie/docker/asto/AstoRepo.java#L53-L58

The puzzle was created by @olegmoz on 03-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-06-03 11:57] 0pdd commented on #168
@olegmoz the puzzle [#176](https://github.com/artipie/docker-adapter/issues/176) is still not solved.

[2020-06-03 11:57] 0crat commented on #168
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 11:58] 0crat commented on #176
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 11:58] 0crat commented on #176
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-03 12:38] 0crat commented on #176
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 12:45] 0crat commented on #121
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 12:45] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#121, Action: `unassigned`

[2020-06-03 12:47] olegmoz commented on #175
@olenagerasimova please take a look at issue #121 it is closely related. When you will pass digest to `AstoBlobs.put` method there will be no reason to use a temporary file

[2020-06-03 13:17] 0pdd opened #177 "LargeImageITCase.java:50-51: min Extract common methods..."
The puzzle `152-d6e32dc9` from #152 has to be resolved:

https://github.com/artipie/docker-adapter/blob/cb80aa8a77b7d97e8a9f1cadbc61dc443ad11a25/src/test/java/com/artipie/docker/http/LargeImageITCase.java#L50-L51

The puzzle was created by brastak on 29-May-20.

Estimate: 45 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-06-03 13:17] 0pdd commented on #152
@olegmoz the puzzle [#177](https://github.com/artipie/docker-adapter/issues/177) is still not solved.

[2020-06-03 13:18] 0crat commented on #177
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 13:18] olegmoz commented on #177
@brastak would you like to take on this issue?

[2020-06-03 13:18] 0crat commented on #177
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-03 13:28] 0crat commented on #177
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-03 13:28] brastak commented on #177
@olegmoz Yes, I will take it

[2020-06-04 07:30] g4s8 opened #180 "Unable to push docker image 500 error"
I created Docker repository as described in Artipie [README](https://github.com/artipie/artipie#docker-repo) as `public/docker`:
[code]
And configured Nginx reverse proxy at `central.artipie.com` to rewrite all `/v2` URIs to `/public/docker`:
[code]

Then I tagged `alpine:3.10` with `docker tag alpine:3.10 central.artipie.com/alpine:3.10`

And pushed to this repository: `docker push central.artipi

[2020-06-04 07:30] 0crat commented on #180
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-04 07:31] 0crat commented on #180
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-04 07:31] 0crat commented on #180
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#180, Action: `assigned`

[2020-06-04 08:51] olegmoz commented on #180
@g4s8 could you please try to change `path: public/docker` to `path: /public/docker` in your config?

[2020-06-04 09:47] g4s8 commented on #180
@olegmoz thanks, it solves the issue.

[2020-06-04 09:52] #180 closed

[2020-06-04 09:52] 0crat commented on #180
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-04 10:43] #163 closed

[2020-06-04 10:43] 0crat commented on #163
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#163, Action: `closed`

[2020-06-04 10:43] brastak commented on #163
Already fixed

[2020-06-04 13:22] #175 closed

[2020-06-04 13:22] 0pdd commented on #175
The puzzle `158-a4be373e` has disappeared from the source code, that's why I closed this issue.

[2020-06-04 13:22] 0pdd commented on #137
@olegmoz 2 puzzles [#143](https://github.com/artipie/docker-adapter/issues/143), [#157](https://github.com/artipie/docker-adapter/issues/157) are still not solved; solved: [#142](https://github.com/artipie/docker-adapter/issues/142), [#158](https://github.com/artipie/docker-adapter/issues/158), [#175](https://github.com/artipie/docker-adapter/issues/175).

[2020-06-04 13:22] 0pdd commented on #142
@0pdd the puzzle [#157](https://github.com/artipie/docker-adapter/issues/157) is still not solved; solved: [#158](https://github.com/artipie/docker-adapter/issues/158), [#175](https://github.com/artipie/docker-adapter/issues/175).

[2020-06-04 13:22] 0pdd commented on #158
@0pdd the only puzzle [#175](https://github.com/artipie/docker-adapter/issues/175) is solved here.

[2020-06-04 13:23] 0crat commented on #175
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-04 14:03] #176 closed

[2020-06-04 14:03] 0pdd commented on #176
The puzzle `168-9682376c` has disappeared from the source code, that's why I closed this issue.

[2020-06-04 14:03] 0pdd opened #182 "ByteBufPublisher.java:40-41: Find all `Concatenation`..."
The puzzle `176-bb7c7858` from #176 has to be resolved:

https://github.com/artipie/docker-adapter/blob/fddbb74a10b3764693012eedb6899b25793d2b1b/src/main/java/com/artipie/docker/misc/ByteBufPublisher.java#L40-L41

The puzzle was created by @olenagerasimova on 04-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-06-04 14:03] 0pdd commented on #168
@olegmoz the puzzle [#182](https://github.com/artipie/docker-adapter/issues/182) is still not solved; solved: [#176](https://github.com/artipie/docker-adapter/issues/176).

[2020-06-04 14:03] 0pdd commented on #176
@0pdd the puzzle [#182](https://github.com/artipie/docker-adapter/issues/182) is still not solved.

[2020-06-04 14:04] 0crat commented on #182
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-04 14:04] 0crat commented on #182
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-04 14:04] 0crat commented on #176
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-04 14:05] 0pdd commented on #182
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-06-04 14:08] 0crat commented on #182
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-04 14:20] g4s8 opened #183 "Docker push hangs until connection timeout"
I tried to push docker image same as in #180 ticket, but Artipie accepted the layer and hangs forever until connection timeout (5 minutes), the logs are:
[code]

[2020-06-04 14:20] 0crat commented on #183
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-04 14:21] 0crat commented on #183
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-05 09:37] #182 closed

[2020-06-05 09:37] 0pdd commented on #182
The puzzle `176-bb7c7858` has disappeared from the source code, that's why I closed this issue.

[2020-06-05 09:37] 0pdd commented on #168
@olegmoz all 2 puzzles are solved here: [#176](https://github.com/artipie/docker-adapter/issues/176), [#182](https://github.com/artipie/docker-adapter/issues/182).

[2020-06-05 09:37] 0pdd commented on #176
@0pdd the only puzzle [#182](https://github.com/artipie/docker-adapter/issues/182) is solved here.

[2020-06-05 09:38] 0crat commented on #182
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-05 14:05] g4s8 opened #188 "S3 error: You must provide the Content-Length HTTP header"
When pushing Docker image, I got 500 error from stacktrace from S3 client `You must provide the Content-Length HTTP header`. It seems the request contains `Content-Length` header, but it was not provided to S3 storage:
[code]

[2020-06-05 14:05] 0crat commented on #188
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-05 14:06] g4s8 commented on #183
@olegmoz  I'm closing this bug, since it's not reproducing anymore, see https://github.com/artipie/asto/issues/197

[2020-06-05 14:06] 0crat commented on #183
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-08 08:53] olegmoz opened #189 "Blob, manifest and upload routes do not support multipart image names"
Docker image may consist of multiple parts separated by `/`, such as `dotnet/core/runtime`.
Blob, manifest and upload routes support only names without `/` symbol inside

[2020-06-08 08:53] 0crat commented on #189
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-08 08:54] 0crat commented on #189
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-08 09:18] 0crat commented on #189
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#189, Action: `unassigned`

[2020-06-08 09:18] 0crat commented on #189
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-08 10:44] olegmoz commented on #183
@g4s8 I found a problem on Docker's end as well that will fix the problem

[2020-06-08 10:45] 0crat commented on #183
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-08 13:50] 0crat commented on #183
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-08 13:51] olegmoz commented on #183
@rultor release, tag=`0.2.2`

[2020-06-08 13:53] rultor commented on #183
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22314-640616418)

[2020-06-08 14:03] rultor commented on #183
@g4s8 @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22314-640616418) (spent 11min)

[code]

[2020-06-08 15:43] olegmoz commented on #183
@g4s8 rultor is failing to create a release, could you please look into this?

[2020-06-08 15:56] g4s8 commented on #183
@olegmoz Sonatype staging is down, I can't create a release too: https://twitter.com/sonatype_ops/status/1270010194441891841

[2020-06-09 10:09] 0pdd opened #194 "BlobEntity.java:189-191: Add test coverage for..."
The puzzle `167-feb96fac` from #167 has to be resolved:

https://github.com/artipie/docker-adapter/blob/42c58f1bcbbe4d22a0f06229b3b1657f31d3cc7b/src/main/java/com/artipie/docker/http/BlobEntity.java#L189-L191

The puzzle was created by @olegmoz on 09-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-06-09 10:09] 0pdd commented on #167
@olegmoz the puzzle [#194](https://github.com/artipie/docker-adapter/issues/194) is still not solved.

[2020-06-09 10:12] 0crat commented on #194
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-09 10:12] 0crat commented on #194
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-09 10:13] 0pdd commented on #194
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-06-09 12:53] #152 closed

[2020-06-09 12:53] 0crat commented on #152
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-09 12:58] #177 closed

[2020-06-09 12:58] 0pdd commented on #177
The puzzle `152-d6e32dc9` has disappeared from the source code, that's why I closed this issue.

[2020-06-09 12:58] 0pdd opened #196 "AbstractDockerITCase.java:42-44: Implement JUnit..."
The puzzle `187-c36da562` from #187 has to be resolved:

https://github.com/artipie/docker-adapter/blob/cd80d3d084ff2bc0f40886a5dd408e433859b9a5/src/test/java/com/artipie/docker/http/AbstractDockerITCase.java#L42-L44

The puzzle was created by brastak on 09-Jun-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-06-09 12:59] 0pdd commented on #152
@olegmoz the only puzzle [#177](https://github.com/artipie/docker-adapter/issues/177) is solved here.

[2020-06-09 13:00] 0crat commented on #196
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-09 13:01] 0crat commented on #196
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-09 13:01] 0crat commented on #177
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-09 16:59] olenagerasimova commented on #189
@olegmoz I'm afraid we need to discuss this, I do not have any ideas, do you?

[2020-06-10 07:35] #167 closed

[2020-06-10 07:36] 0crat commented on #167
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-10 07:39] olegmoz commented on #189
@olenagerasimova I am pretty sure that this can be fixed just by replacing repo name pattern in RegEx expressions from `[^/]` to `.` and testing it. Maybe it is not as simple as that. I'd be gald to discuss this matter if there are any problems

[2020-06-10 07:57] olegmoz commented on #183
@rultor release, tag=`0.2.2`

[2020-06-10 07:58] rultor commented on #183
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22314-641811478)

[2020-06-10 08:49] 0pdd opened #199 "AstoUploads.java:38-40: Add unit tests for `AstoUpload`..."
The puzzle `169-5fcdf6b9` from #169 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b5c921f01a579f02855a1299dab5e0982fca5a4e/src/main/java/com/artipie/docker/asto/AstoUploads.java#L38-L40

The puzzle was created by @olegmoz on 10-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-06-10 08:50] 0pdd commented on #169
@olegmoz the puzzle [#199](https://github.com/artipie/docker-adapter/issues/199) is still not solved.

[2020-06-10 08:50] 0crat commented on #199
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-10 08:51] 0crat commented on #199
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-10 09:27] #169 closed

[2020-06-10 09:28] 0crat commented on #169
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-10 10:00] rultor commented on #183
@g4s8 @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22314-641811478) (spent 2hr)

[code]

[2020-06-10 10:17] olegmoz commented on #183
@rultor release, tag=`0.2.2`

[2020-06-10 10:18] rultor commented on #183
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22314-641905736)

[2020-06-10 10:22] 0crat commented on #170
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-11 06:59] g4s8 commented on #183
@rultor release, tag=`0.2.2`

[2020-06-11 07:00] rultor commented on #183
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22314-642452435)

[2020-06-11 07:10] rultor commented on #183
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22314-642452435) (took me 10min)

[2020-06-11 08:15] 0crat commented on #196
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-11 09:41] olegmoz opened #206 "Very slow matching of HTTP path by RegEx"
Looking at builds, such as https://github.com/artipie/docker-adapter/actions/runs/131395784 one may notice that tests involving matching HTTP request paths were very slow. This happens because recently introduced RegEx
[code]
runs super slow on string like `/v2/my-repo/blobs/uploads/a9e48d2a-c939-441d-bb53-b3ad9ab67709`. This does not happen for strings like `/v2/my-repo/blobs/uploads/` or `/v2/my

[2020-06-11 09:41] 0crat commented on #206
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-11 09:41] 0crat commented on #206
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-11 11:07] #206 closed

[2020-06-11 11:08] 0crat commented on #206
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-11 12:33] g4s8 commented on #183
@olegmoz it seems this issue was not fixed, I still can't push docker image to central with latest `0.2.2` version of docker-adapter:
[code]

[2020-06-11 12:34] 0crat commented on #183
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-15 08:49] #183 closed

[2020-06-15 08:50] 0crat commented on #183
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-15 08:50] olegmoz commented on #183
@rultor release, tag=`0.2.3`

[2020-06-15 08:51] rultor commented on #183
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22314-643995263)

[2020-06-15 09:00] rultor commented on #183
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22314-643995263) (took me 8min)

[2020-06-15 14:24] g4s8 opened #212 "500 error on image upload"
I tried to upload Docker image but got 500 error with the stacktrace:
[code]
It seems asto version is outdated, and it can be fixed by updating dependency to latest `0.22` version: https://github.com/artipie/asto/releases/tag/0.22

[2020-06-15 14:24] 0crat commented on #212
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-15 14:25] 0crat commented on #212
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-15 14:26] 0crat commented on #212
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-15 14:53] #212 closed

[2020-06-15 14:54] olegmoz commented on #212
@rultor release, tag=`0.2.4`

[2020-06-15 14:54] 0crat commented on #212
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-15 14:55] rultor commented on #212
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22364-644184558)

[2020-06-15 15:04] rultor commented on #212
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22364-644184558) (took me 9min)

[2020-06-16 02:57] g4s8 opened #215 "NullPointerException when reading JsonManifest"
I tried to push docker image to latest version of artipie registry:
[code]

But it fails with 500 error after push:
[code]

[2020-06-16 02:57] 0crat commented on #215
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-16 02:57] 0crat commented on #215
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-16 02:57] 0crat commented on #215
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#215, Action: `assigned`

[2020-06-16 08:51] 0pdd opened #216 "ProxyBlob.java:43-46: Handle response status in..."
The puzzle `170-3e0b9335` from #170 has to be resolved:

https://github.com/artipie/docker-adapter/blob/14072c0182fa783e0618bb3d3529eef70b656edf/src/main/java/com/artipie/docker/proxy/ProxyBlob.java#L43-L46

The puzzle was created by @olegmoz on 15-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-06-16 08:51] 0pdd commented on #170
@olegmoz the puzzle [#216](https://github.com/artipie/docker-adapter/issues/216) is still not solved.

[2020-06-16 08:52] 0crat commented on #216
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-16 08:52] 0crat commented on #216
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-16 08:53] 0pdd commented on #216
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-06-16 11:55] #215 closed

[2020-06-16 11:56] 0pdd opened #218 "S3CompatibilityITCase.java:64-66: Remove..."
The puzzle `212-617f3d73` from #212 has to be resolved:

https://github.com/artipie/docker-adapter/blob/aa71b371e2c68380eb554963e21546e999dda6ca/src/test/java/com/artipie/docker/http/S3CompatibilityITCase.java#L64-L66

The puzzle was created by Oleg Mozzhechkov on 16-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-06-16 11:56] 0pdd commented on #212
@g4s8 the puzzle [#218](https://github.com/artipie/docker-adapter/issues/218) is still not solved.

[2020-06-16 11:56] olegmoz commented on #215
@rultor release, tag=`0.2.5`

[2020-06-16 11:56] 0crat commented on #218
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-16 11:56] 0crat commented on #218
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-16 11:57] 0pdd commented on #218
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-06-16 11:57] 0crat commented on #215
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-16 11:58] rultor commented on #215
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22378-644716889)

[2020-06-16 12:07] rultor commented on #215
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22378-644716889) (took me 8min)

[2020-06-17 08:26] #189 closed

[2020-06-17 08:26] 0crat commented on #189
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-17 08:26] 0pdd commented on #194
The puzzle `167-feb96fac` has disappeared from the source code, that's why I closed this issue.

[2020-06-17 08:26] #194 closed

[2020-06-17 08:26] 0pdd commented on #167
@olegmoz the only puzzle [#194](https://github.com/artipie/docker-adapter/issues/194) is solved here.

[2020-06-17 08:27] 0crat commented on #194
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-17 09:36] olegmoz opened #222 "Update README.md"
README.md should be on par with one in rpm-adapter project

[2020-06-17 09:36] 0crat commented on #222
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-18 08:24] 0pdd opened #225 "ProxyLayers.java:44-47: Handle response status in..."
The puzzle `170-e06b99c8` from #170 has to be resolved:

https://github.com/artipie/docker-adapter/blob/934f0eb3103f9e697256d96c835c59107aa4ef89/src/main/java/com/artipie/docker/proxy/ProxyLayers.java#L44-L47

The puzzle was created by Oleg Mozzhechkov on 18-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-06-18 08:25] 0pdd commented on #170
@olegmoz 2 puzzles [#216](https://github.com/artipie/docker-adapter/issues/216), [#225](https://github.com/artipie/docker-adapter/issues/225) are still not solved.

[2020-06-18 08:25] 0crat commented on #225
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-18 08:25] 0crat commented on #225
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-18 08:26] 0pdd commented on #225
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-06-18 08:42] 0pdd opened #226 "ClientSlice.java:114-117: Use status code translation..."
The puzzle `170-8d9b3a57` from #170 has to be resolved:

https://github.com/artipie/docker-adapter/blob/1d77aa3602532070118ba7ead8c0a9bd8427f320/src/main/java/com/artipie/docker/proxy/ClientSlice.java#L114-L117

The puzzle was created by Oleg Mozzhechkov on 18-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-06-18 08:42] 0pdd commented on #170
@olegmoz 3 puzzles [#216](https://github.com/artipie/docker-adapter/issues/216), [#225](https://github.com/artipie/docker-adapter/issues/225), [#226](https://github.com/artipie/docker-adapter/issues/226) are still not solved.

[2020-06-18 08:43] 0crat commented on #226
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-18 08:43] 0crat commented on #226
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-18 09:41] #196 closed

[2020-06-18 09:41] 0pdd commented on #196
The puzzle `187-c36da562` has disappeared from the source code, that's why I closed this issue.

[2020-06-18 09:42] 0crat commented on #196
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-19 06:10] jeffzhu503 opened #230 "Support OCI registry spec"
We will need to support OCI registry spec -
https://github.com/opencontainers/distribution-spec/blob/master/spec.md covers all the detail.  Just to give an example:
- A repository name is broken up into path components. A component of a repository name MUST begin with one or more lowercase alpha-numeric characters. Subsequent lowercase alpha-numeric characters are OPTIONAL and MAY be separated by

[2020-06-19 06:10] 0crat commented on #230
@jeffzhu503[/z](https://www.0crat.com/u/jeffzhu503) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /c

[2020-06-19 06:12] g4s8 commented on #230
@olegmoz can you please check if we support OCI spec?

[2020-06-19 08:35] 0pdd opened #231 "ProxyManifests.java:48-51: Handle response status in..."
The puzzle `170-84a50505` from #170 has to be resolved:

https://github.com/artipie/docker-adapter/blob/f5549223e315ff57cb1c4088ba7e1f8d5fcd376e/src/main/java/com/artipie/docker/proxy/ProxyManifests.java#L48-L51

The puzzle was created by @olegmoz on 18-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-06-19 08:35] 0pdd commented on #170
@olegmoz 4 puzzles [#216](https://github.com/artipie/docker-adapter/issues/216), [#225](https://github.com/artipie/docker-adapter/issues/225), [#226](https://github.com/artipie/docker-adapter/issues/226), [#231](https://github.com/artipie/docker-adapter/issues/231) are still not solved.

[2020-06-19 08:36] 0crat commented on #231
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-19 08:36] 0crat commented on #231
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-06-19 08:37] 0pdd commented on #231
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-06-19 09:54] olegmoz commented on #230
@g4s8 the spec looks to be copy of https://docs.docker.com/registry/spec/api/ documentation, cannot see any difference after a brief look. Talking about composite image names like `library/ubuntu` or `dotnet/core/runtime` they are supported, see #189

[2020-06-19 09:56] 0crat commented on #153
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#153, Action: `unassigned`

[2020-06-19 09:56] 0crat commented on #138
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#138, Action: `unassigned`

[2020-06-19 09:56] 0crat commented on #138
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-19 09:56] 0crat commented on #118
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-19 09:58] olegmoz commented on #226
@olenagerasimova would you like to take on this issue?

[2020-06-19 10:00] olenagerasimova commented on #226
@olegmoz sure, please, assign me

[2020-06-19 10:01] 0crat commented on #226
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-19 10:01] 0crat commented on #226
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#226, Action: `assigned`

[2020-06-19 10:01] 0crat commented on #226
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-19 13:16] 0crat commented on #172
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-22 08:58] 0crat commented on #147
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-22 17:19] #170 closed

[2020-06-22 17:19] 0crat commented on #170
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-22 20:21] #226 closed

[2020-06-22 20:21] 0pdd commented on #226
The puzzle `170-8d9b3a57` has disappeared from the source code, that's why I closed this issue.

[2020-06-22 20:21] 0pdd commented on #170
@olegmoz 3 puzzles [#216](https://github.com/artipie/docker-adapter/issues/216), [#225](https://github.com/artipie/docker-adapter/issues/225), [#231](https://github.com/artipie/docker-adapter/issues/231) are still not solved; solved: [#226](https://github.com/artipie/docker-adapter/issues/226).

[2020-06-22 20:22] 0crat commented on #226
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-22 20:26] #147 closed

[2020-06-22 20:26] 0crat commented on #147
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#147, Action: `closed`

[2020-06-22 20:39] olegmoz commented on #153
@olenagerasimova may I assign this issue on you?

[2020-06-22 20:41] olegmoz commented on #121
@olenagerasimova this issue is quite important, could you please take on it in coming days?

[2020-06-23 04:44] olenagerasimova commented on #153
@olegmoz sure, but I have to warn you that I will be able to do it only the next week as I have NEO training these Thursday and Friday

[2020-06-23 05:10] olenagerasimova commented on #121
@olegmoz I've missed this issue, sorry. Please check #236

[2020-06-23 07:56] olegmoz commented on #153
@olenagerasimova that's fine, thanks

[2020-06-23 07:57] 0crat commented on #153
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-23 09:24] #121 closed

[2020-06-23 09:24] #44 closed

[2020-06-23 09:24] 0pdd commented on #44
The puzzle `41-ef5f1d74` has disappeared from the source code, that's why I closed this issue.

[2020-06-23 09:24] 0pdd commented on #1
@g4s8 all 17 puzzles are solved here: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#13](https://github.com/artipie/docker-adapter/issues/13), [#17](https://github.com/artipie/docker-adapter/issues/17), [#19](https://github.com/artipie/docker-adapter/issues/19), [#

[2020-06-23 09:24] 0pdd commented on #2
@0pdd all 13 puzzles are solved here: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#12](https://github.com/artipie/docker-adapter/issues/12), [#17](https://github.com/artipie/docker-adapter/issues/17), [#25](https://github.com/artipie/docker-adapter/issues/25), [#36](https://github.com/artipie/docker-adapter/issues/36), [#

[2020-06-23 09:24] 0pdd commented on #6
@0pdd all 8 puzzles are solved here: [#10](https://github.com/artipie/docker-adapter/issues/10), [#11](https://github.com/artipie/docker-adapter/issues/11), [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44), [#4

[2020-06-23 09:24] 0pdd commented on #11
@0pdd all 6 puzzles are solved here: [#36](https://github.com/artipie/docker-adapter/issues/36), [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47), [#56](https://github.com/artipie/docker-adapter/issues/56).

[2020-06-23 09:24] 0pdd commented on #36
@0pdd all 5 puzzles are solved here: [#41](https://github.com/artipie/docker-adapter/issues/41), [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47), [#56](https://github.com/artipie/docker-adapter/issues/56).

[2020-06-23 09:24] 0pdd commented on #41
@0pdd all 4 puzzles are solved here: [#43](https://github.com/artipie/docker-adapter/issues/43), [#44](https://github.com/artipie/docker-adapter/issues/44), [#47](https://github.com/artipie/docker-adapter/issues/47), [#56](https://github.com/artipie/docker-adapter/issues/56).

[2020-06-23 09:26] 0crat commented on #44
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-23 09:28] 0crat commented on #121
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-25 09:08] #231 closed

[2020-06-25 09:09] 0pdd commented on #170
@olegmoz 2 puzzles [#216](https://github.com/artipie/docker-adapter/issues/216), [#225](https://github.com/artipie/docker-adapter/issues/225) are still not solved; solved: [#226](https://github.com/artipie/docker-adapter/issues/226), [#231](https://github.com/artipie/docker-adapter/issues/231).

[2020-06-25 09:09] 0crat commented on #231
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-06-25 18:00] olegmoz commented on #170
@rultor release, tag=`0.2.6`

[2020-06-25 18:01] rultor commented on #170
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22427-649733318)

[2020-06-25 18:11] rultor commented on #170
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22427-649733318) (took me 9min)

[2020-06-26 09:18] olegmoz opened #240 "Change Manifest to be sync"
Manifest interface is designed with all methods being async. It is not required, as the data is always loaded in memeory and can be accessed in sync way. So all methods could simplified to return not async value and conent be stored as plain array.

[2020-06-26 09:18] 0crat commented on #240
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-06-30 14:36] 0crat commented on #171
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-02 09:12] olenagerasimova commented on #153
closed via #246

[2020-07-02 09:12] #153 closed

[2020-07-02 09:13] 0crat commented on #153
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-02 16:09] #172 closed

[2020-07-02 16:09] 0crat commented on #172
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#172, Action: `closed`

[2020-07-02 16:10] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-02 16:11] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-653097674)

[2020-07-02 16:18] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-653097674) (spent 7min)

[code]

[2020-07-03 08:18] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-03 08:18] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-653418457)

[2020-07-03 08:38] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-653418457) (spent 19min)

[code]

[2020-07-03 11:18] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-03 11:19] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-653496825)

[2020-07-03 11:38] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-653496825) (spent 19min)

[code]

[2020-07-03 11:50] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-03 11:52] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-653510550)

[2020-07-03 12:05] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-653510550) (spent 12min)

[code]

[2020-07-03 12:11] olegmoz commented on #218
ASTO version `0.23.2` contains fix required to close this issue

[2020-07-03 12:13] olegmoz commented on #157
@olenagerasimova would you like to take on this issue?

[2020-07-03 12:14] olegmoz commented on #129
@olenagerasimova would you like to take on this issue?

[2020-07-03 12:15] olenagerasimova commented on #157
@olegmoz yes, assign me please

[2020-07-03 12:15] 0crat commented on #157
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-03 12:20] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-03 12:22] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-653521891)

[2020-07-03 12:37] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-653521891) (spent 16min)

[code]

[2020-07-03 12:48] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-03 12:50] olenagerasimova commented on #129
@olegmoz yes, assign me please

[2020-07-03 12:50] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-653532433)

[2020-07-03 12:54] 0crat commented on #129
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-03 13:04] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-653532433) (spent 14min)

[code]

[2020-07-03 13:15] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-03 13:15] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-653543496)

[2020-07-03 13:31] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-653543496) (spent 16min)

[code]

[2020-07-03 13:32] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-03 13:34] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-653551122)

[2020-07-03 13:48] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-653551122) (spent 13min)

[code]

[2020-07-06 07:36] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-06 07:38] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-654068613)

[2020-07-06 07:52] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-654068613) (spent 14min)

[code]

[2020-07-06 08:12] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-06 08:12] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-654085560)

[2020-07-06 08:32] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-654085560) (spent 19min)

[code]

[2020-07-07 09:37] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-07 09:38] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-654729616)

[2020-07-07 09:50] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-654729616) (spent 12min)

[code]

[2020-07-07 09:51] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-07 09:53] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-654737850)

[2020-07-07 10:02] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-654737850) (spent 9min)

[code]

[2020-07-07 10:07] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-07 10:08] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-654747052)

[2020-07-07 10:25] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-654747052) (spent 17min)

[code]

[2020-07-07 10:30] olegmoz commented on #172
@rultor release, tag=`0.2.7`

[2020-07-07 10:31] rultor commented on #172
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-654759742)

[2020-07-07 10:44] rultor commented on #172
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22484-654759742) (spent 13min)

[code]

[2020-07-07 10:47] olegmoz commented on #172
@g4s8 the release still failing after several attempts

[2020-07-07 10:51] g4s8 commented on #172
@olegmoz it seems version `0.2.7` already exists in central:
[code]

[2020-07-07 10:52] g4s8 commented on #172
@rultor release, tag=`0.2.8`

[2020-07-07 10:53] rultor commented on #172
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22484-654770748)

[2020-07-07 10:58] olenagerasimova commented on #129
@olegmoz I've been thinking about `com.artipie.docker.http.ResponseMatcher` class and it seems that this class is not a good idea because it hides expected statutes/headers/whatever and makes assertion not transparent. In my opinion each assert statement in test methods should be clear, fully visible (on the screen, so we don't have to navigate somewhere to check what is expected) and transparent,

[2020-07-07 11:05] rultor commented on #172
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22484-654770748) (took me 12min)

[2020-07-07 11:13] olegmoz commented on #172
@g4s8 thanks!

[2020-07-07 14:23] olegmoz commented on #129
@olenagerasimova I think you are right and `com.artipie.docker.http.ResponseMatcher` is not needed as it is, but I'd replace it with private matcher classes for GET and HEAD responses in `ManifestEntityGetTest` and `ManifestEntityHeadTest` respectively.

[2020-07-07 17:38] olegmoz opened #255 "Virtual Docker repository"
Virtual Docker repository is expected to be combination on multiple proxy repositories and local repository. Read requests should be sent to both proxy and local repositories and write operations should go to local repository only.

Implementation may be done as composite `Docker` that has single `read` and `write` delegates. `read` delegate could be composed from proxy and local Docker after comp

[2020-07-07 17:39] 0crat commented on #255
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-07-07 17:39] 0crat commented on #255
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-07 17:40] 0crat commented on #173
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-07 17:41] 0crat commented on #117
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-08 08:15] #129 closed

[2020-07-08 08:15] 0crat commented on #129
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-08 08:15] 0pdd commented on #119
@olegmoz all 2 puzzles are solved here: [#128](https://github.com/artipie/docker-adapter/issues/128), [#129](https://github.com/artipie/docker-adapter/issues/129).

[2020-07-09 14:06] g4s8 opened #260 "Not properly formatted error responses"
When I'm trying to `pull` docker image which doesn't exist on the server, Artipie responds with 404 status but it doesn't use special json messages:
[code]

[2020-07-09 14:07] 0crat commented on #260
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-07-09 14:07] 0crat commented on #260
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-09 14:07] 0crat commented on #260
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#260, Action: `labeled`

[2020-07-09 14:15] g4s8 opened #261 "Unable to push docker image"
When I'm trying to push docker image, it's successfully uploaded to the server but fails after that:
[code]

Server logs are:
[code]

The storage contains only `_uploads` directory, no blobs.

[2020-07-09 14:15] 0crat commented on #261
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/docker-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-07-09 14:15] 0crat commented on #261
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-09 14:15] 0crat commented on #261
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/docker-adapter#261, Action: `assigned`

[2020-07-09 15:25] olegmoz commented on #260
@g4s8 thanks, this issue is known see #170
Unfortunately it has quite long and complicated history. I will try to address this issue soon

[2020-07-09 15:47] g4s8 commented on #260
@olegmoz got it, thanks.

[2020-07-09 15:47] #260 closed

[2020-07-09 15:47] 0crat commented on #260
I'm not managing `artipie/docker-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-10 09:45] g4s8 commented on #261
@olegmoz I've successfully pushed an image to Docker registry after fixing `/v2` prefixes and path in https://github.com/artipie/artipie/commit/dd0433bcaf4c990c9c774a845f234d6dd1b89a31 Also, I've removed the path completely from Artipie config, maybe we should remove it from the constructor of `DockerSlice` too? I don't see how we can use it for registry.

[2020-07-10 10:49] olegmoz opened #262 "Remove base path support in Docker"
Base path feature seams to be useless in case of Docker and should be removed

[2020-07-10 10:57] olegmoz opened #263 "Support prefix for repository names"
When there are multiple Docker registries hosted on same server they are distinguished by prefix of repository names, but might be stored in different storages. Docker adapter should support feature of prefixed repository names, so image with name like `g4s8/docker/alpine` would be stored as `alpine` if prefix is set to be `g4s8/docker`. This might be done as special implementation of `Docker` int

[2020-07-10 11:01] olegmoz commented on #261
@g4s8 great!

I agree regarding base path feature, it seems useless now. An anyway it is usually done in Artipie, so there is no point in having it in adapter. Created an issue for that: #262

To store prefixed images in storage in proper way (without prefix) support in Docker is required though, created issues #263 for that.

[2020-07-10 11:47] g4s8 commented on #261
@olegmoz good, thanks

[2020-07-10 11:47] #261 closed

[2020-07-13 09:18] olegmoz commented on #171
@rultor release, tag=`0.2.9`

[2020-07-13 09:19] rultor commented on #171
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22581-657434894)

[2020-07-13 09:27] rultor commented on #171
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22581-657434894) (took me 8min)

[2020-07-13 11:11] #171 closed

[2020-07-13 13:21] 0pdd opened #268 "ReadWriteManifests.java:37-39: Add unit tests for..."
The puzzle `255-0cba02b7` from #255 has to be resolved:

https://github.com/artipie/docker-adapter/blob/97d8846fc1962deba6bbbedb1936e45ccdd621ba/src/main/java/com/artipie/docker/composite/ReadWriteManifests.java#L37-L39

The puzzle was created by @olegmoz on 13-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-07-13 13:21] 0pdd opened #269 "ReadWriteLayers.java:37-39: Add unit tests for..."
The puzzle `255-00616bae` from #255 has to be resolved:

https://github.com/artipie/docker-adapter/blob/97d8846fc1962deba6bbbedb1936e45ccdd621ba/src/main/java/com/artipie/docker/composite/ReadWriteLayers.java#L37-L39

The puzzle was created by @olegmoz on 13-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-07-13 13:21] 0pdd commented on #255
@olegmoz 2 puzzles [#268](https://github.com/artipie/docker-adapter/issues/268), [#269](https://github.com/artipie/docker-adapter/issues/269) are still not solved.

[2020-07-14 12:32] olegmoz opened #273 "Extract duplicated code for fake layers and manifests creation"
`CacheLayersTest`, `CacheManifestsTest`, `MultiReadLayersTest`, `MultiManifestsTest` share the same code for building fake `Layers` and `Manifests` instances from strings like "empty", "faulty" etc. This code duplication should be removed and common code should be extracted to classes like `FakeLayers` and `FakeManifests`.

[2020-07-14 13:53] #225 closed

[2020-07-14 13:53] 0pdd commented on #170
@olegmoz the puzzle [#216](https://github.com/artipie/docker-adapter/issues/216) is still not solved; solved: [#225](https://github.com/artipie/docker-adapter/issues/225), [#226](https://github.com/artipie/docker-adapter/issues/226), [#231](https://github.com/artipie/docker-adapter/issues/231).

[2020-07-14 14:36] olegmoz commented on #157
@olenagerasimova will you have time for this issue this week?

[2020-07-14 14:43] olegmoz opened #275 "Basic authentication support"
It should be possible to configure authentication for Docker so that pulling images and pushing images is protected by username and password. Authentication method should be compatible with Docker client `docker login` command.

[2020-07-14 15:13] olenagerasimova commented on #157
@olegmoz yes, let me look through the code once more and I either submit PR or we discuss tomorrow during the meeting

[2020-07-15 07:47] #173 closed

[2020-07-15 09:07] olenagerasimova commented on #157
@olegmoz I do not see easy way to fix it as `AstoLayers.put()` is now responsible for adding layer to repository and `Layers` has a lot of implementations. Do you have any suggestions?

[2020-07-15 09:31] olegmoz commented on #157
@olenagerasimova I think that it may be implemented in `BlobStore.put()` - this is the only place where a blob is added to our storage. The digest might be calculated "on the go" as bytes are being sent to `Storage`. On completion signal the digest should be verified. If there is mismatch then completion signal is transformed to error and whole `save` operation is aborted as result (all `Storage`

[2020-07-15 10:41] #255 closed

[2020-07-15 11:20] olegmoz commented on #160
@g4s8 I am closing this issue as everything that is required is done in adapter and other work (such as configuration format) are to be done in Artipie repository. Created 2 issues for that:
https://github.com/artipie/artipie/issues/333
https://github.com/artipie/artipie/issues/334

[2020-07-15 11:20] #160 closed

[2020-07-15 11:21] olegmoz commented on #160
@rultor release, tag=`0.3`

[2020-07-15 11:22] rultor commented on #160
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22605-658711327)

[2020-07-15 11:33] rultor commented on #160
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22605-658711327) (took me 10min)

[2020-07-15 12:27] olenagerasimova commented on #157
@olegmoz hm, you are suggesting to pass digest from request to `BlobStore.put()` instead of calculated content digest, right?

[2020-07-15 12:42] olegmoz commented on #157
@olenagerasimova yes, that's right. Expected digest passed inside the method and compared with actual digest calculated from content.

[2020-07-15 12:47] olenagerasimova commented on #157
@olegmoz ok, got it

[2020-07-17 07:30] #157 closed

[2020-07-17 07:30] 0pdd commented on #157
The puzzle `142-cff40642` has disappeared from the source code, that's why I closed this issue.

[2020-07-17 07:30] 0pdd commented on #137
@olegmoz the puzzle [#143](https://github.com/artipie/docker-adapter/issues/143) is still not solved; solved: [#142](https://github.com/artipie/docker-adapter/issues/142), [#157](https://github.com/artipie/docker-adapter/issues/157), [#158](https://github.com/artipie/docker-adapter/issues/158), [#175](https://github.com/artipie/docker-adapter/issues/175).

[2020-07-17 07:30] 0pdd commented on #142
@0pdd all 3 puzzles are solved here: [#157](https://github.com/artipie/docker-adapter/issues/157), [#158](https://github.com/artipie/docker-adapter/issues/158), [#175](https://github.com/artipie/docker-adapter/issues/175).

[2020-07-17 10:18] olegmoz opened #280 "Remove Aibolit check from CI"
Aibolit static analysis checker does not provide meaningful recommendations at this point and just makes every PR "red"

[2020-07-17 11:10] #262 closed

[2020-07-17 11:54] #280 closed

[2020-07-17 12:21] olenagerasimova commented on #263
@olegmoz yes, assign me please

[2020-07-20 18:16] olenagerasimova commented on #263
@olegmoz where this new `TrimmedDocker` should be used? Or there is another issue for it?

[2020-07-21 08:03] olegmoz commented on #263
@rultor release, tag=`0.3.1`

[2020-07-21 08:05] rultor commented on #263
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22671-661702538)

[2020-07-21 08:08] olegmoz commented on #263
@olenagerasimova I've created issue in Artipie about usage of this new class, see https://github.com/artipie/artipie/issues/371

[2020-07-21 08:14] rultor commented on #263
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22671-661702538) (took me 9min)

[2020-07-21 08:15] #263 closed

[2020-07-23 09:45] #275 closed

[2020-07-23 09:46] olegmoz commented on #275
@rultor release, tag=`0.4`

[2020-07-23 09:47] rultor commented on #275
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22702-662915797)

[2020-07-23 09:50] rultor commented on #275
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22702-662915797) (spent 3min)

[code]

[2020-07-23 10:07] olegmoz commented on #275
@rultor release, tag=0.4

[2020-07-23 10:08] rultor commented on #275
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22702-662924105)

[2020-07-23 10:10] rultor commented on #275
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22702-662924105) (spent 2min)

[code]

[2020-07-23 10:10] olegmoz commented on #275
@rultor release, tag=`0.4`

[2020-07-23 10:12] rultor commented on #275
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22702-662925424)

[2020-07-23 10:24] rultor commented on #275
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22702-662925424) (took me 12min)

[2020-07-30 09:19] #218 closed

[2020-07-30 09:19] 0pdd commented on #212
@g4s8 the only puzzle [#218](https://github.com/artipie/docker-adapter/issues/218) is solved here.

[2020-07-31 08:42] olegmoz opened #291 "Use `PublisherAs` from ASTO 0.23.3+ in Docker"
`PublisherAs` class was added to ASTO 0.23.3 and it could be used instead of `ByteBufPublisher`. `ByteBufPublisher` will not be needed in the project and may be removed.

[2020-07-31 08:43] #240 closed

[2020-08-06 11:28] olegmoz opened #296 "Proper error reporting for manifest validation failures"
When manifest is uploaded it undergoes validation, but errors are not properly reported. They should be sent to client in proper fromat with error codes like `MANIFEST_INVALID` and possibly others.

[2020-08-06 11:29] olegmoz opened #297 "Proper error reporting for invalid digest blob"
There is error code `DIGEST_INVALID` which should be sent to client when uploaded blob mismatch it's digest

[2020-08-06 11:31] olegmoz opened #298 "Proper error reporting for invalid repo name"
By spec in this case error code `NAME_INVALID` should be sent to client, now it's generic error response

[2020-08-06 11:33] olegmoz opened #299 "Proper error reporting for forbidden responses"
`DENIED` error code should be sent to client when requested operation is denied with 403 Forbidden response. Also failed permissions check test have to be added for all endpoints, as they are missing now

[2020-08-06 11:40] olegmoz opened #300 "Proper error reporting for attempt to write to read-only Docker"
Some Docker implementations are read-only. They should report `UNSUPPORTED` on attempt to make a write.

[2020-08-07 07:00] olegmoz opened #304 "Replace `ClientSlice` and `ClientSlices` with HTTP client module"
HTTP client module has been created in Artipie. With first `0.1.1` it contains all features required in Docker. `ClientSlice` and `ClientSlices` may be removed and replaced with `JettyClientSlices` from HTTP client module.

[2020-08-07 13:35] #117 closed

[2020-08-07 13:41] olegmoz commented on #117
@rultor release, tag=`0.4.1`

[2020-08-07 13:41] rultor commented on #117
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22850-670522486)

[2020-08-07 13:51] rultor commented on #117
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22850-670522486) (took me 9min)

[2020-08-10 12:07] olegmoz opened #307 "Proper error reporting for invalid tag name"
By spec in this case error code `TAG_INVALID` should be sent to client, now it's generic error response

[2020-08-11 12:25] #304 closed

[2020-08-11 12:26] olegmoz commented on #304
@rultor release, tag=`0.4.2`

[2020-08-11 12:27] rultor commented on #304
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22904-671915271)

[2020-08-11 12:37] rultor commented on #304
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22904-671915271) (took me 10min)

[2020-08-13 12:34] #273 closed

[2020-08-13 13:57] #291 closed

[2020-08-14 13:03] #298 closed

[2020-08-17 09:59] #268 closed

[2020-08-17 09:59] 0pdd commented on #255
@olegmoz the puzzle [#269](https://github.com/artipie/docker-adapter/issues/269) is still not solved; solved: [#268](https://github.com/artipie/docker-adapter/issues/268).

[2020-08-17 10:22] #269 closed

[2020-08-17 10:23] 0pdd commented on #255
@olegmoz all 2 puzzles are solved here: [#268](https://github.com/artipie/docker-adapter/issues/268), [#269](https://github.com/artipie/docker-adapter/issues/269).

[2020-08-18 08:10] #199 closed

[2020-08-18 08:10] 0pdd commented on #169
@olegmoz the only puzzle [#199](https://github.com/artipie/docker-adapter/issues/199) is solved here.

[2020-08-19 07:54] #154 closed

[2020-08-19 07:54] 0pdd commented on #54
@g4s8 all 4 puzzles are solved here: [#131](https://github.com/artipie/docker-adapter/issues/131), [#154](https://github.com/artipie/docker-adapter/issues/154), [#89](https://github.com/artipie/docker-adapter/issues/89), [#99](https://github.com/artipie/docker-adapter/issues/99).

[2020-08-19 07:54] 0pdd commented on #131
@0pdd the only puzzle [#154](https://github.com/artipie/docker-adapter/issues/154) is solved here.

[2020-08-20 10:54] olegmoz commented on #299
@rultor release, tag=`0.4.3`

[2020-08-20 10:56] rultor commented on #299
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23071-677525233)

[2020-08-20 11:05] rultor commented on #299
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23071-677525233) (took me 9min)

[2020-08-27 15:41] olegmoz opened #321 "Docker base endpoint should require no permissions"
Docker base entity endpoint `/v2/` by docs should not require any permissions. See https://docs.docker.com/registry/spec/api/#base
Still it may return `UNATHORIZED` error in case authentication is required

[2020-08-28 09:23] #307 closed

[2020-08-28 12:04] #321 closed

[2020-08-28 13:04] olegmoz commented on #321
@rultor release, tag=`0.4.4`

[2020-08-28 13:05] rultor commented on #321
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23142-682539546)

[2020-08-28 13:15] rultor commented on #321
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23142-682539546) (took me 9min)

[2020-08-31 06:46] #296 closed

[2020-10-02 15:10] olegmoz opened #338 "Upgrade HTTP client and use it's support for authenticated proxy"
When `Bearer` auth support is added to HTTP client we may replace own authentication with it

[2020-10-15 13:06] olegmoz commented on #338
@rultor release, tag=`0.4.7`

[2020-10-15 13:07] rultor commented on #338
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23536-709311987)

[2020-10-15 13:15] rultor commented on #338
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23536-709311987) (took me 8min)

[2020-10-16 07:36] #338 closed

[2020-10-16 07:37] olegmoz commented on #338
@rultor release, tag=`0.4.8`

[2020-10-16 07:37] rultor commented on #338
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23536-709880896)

[2020-10-16 07:53] rultor commented on #338
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23536-709880896) (took me 15min)

[2020-10-29 07:56] olegmoz opened #341 "Migrate to Java 8"
Docker adapter should be compatible with Java 8, so it runs on older JRE versions

[2020-11-03 15:01] #341 closed

[2020-11-04 20:39] olegmoz commented on #341
@rultor release, tag=`0.5`

[2020-11-04 20:40] rultor commented on #341
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23639-721962824)

[2020-11-04 20:52] rultor commented on #341
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23639-721962824) (took me 12min)

[2020-11-06 07:57] olegmoz opened #344 "Do not overwrite blobs that are already in storage"
`BlobStore` should check if added blob is already in storage. If it is already in storage then there is not point to overwrite it with same content.

[2020-11-09 15:10] #344 closed

[2020-11-09 15:11] olegmoz commented on #344
@rultor release, tag=`0.5.1`

[2020-11-09 15:12] rultor commented on #344
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23662-724073753)

[2020-11-09 15:22] rultor commented on #344
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23662-724073753) (took me 9min)

[2020-11-13 07:51] olegmoz opened #346 "Storage root folder should be used to store repositories"
At the moment all Docker data is stored under `docker/registry/v2` path. This is proper structure for Docker Registry, but it won't work well with non-file `Storage` implementations adding meaningless prefix to all keys. Adding this keys should be configurable

[2020-11-16 14:37] #346 closed

[2020-11-16 14:38] olegmoz commented on #346
@rultor release, tag=`0.6`

[2020-11-16 14:39] rultor commented on #346
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23707-728103345)

[2020-11-16 14:49] rultor commented on #346
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23707-728103345) (took me 9min)

[2020-11-18 01:54] 7Light opened #348 "Hi! Could you adjust the file and directory storage structure."
xx

[2020-11-18 07:59] #348 closed

[2020-11-20 12:38] olegmoz opened #349 "Configurable storage layout"
Right now manifests and blobs are stored in the same way as they are stored in original Docker Registry. However in some cases user may wish to store data using different paths. It means we need to support configurable storage schema

[2020-11-24 17:26] #349 closed

[2020-11-24 17:27] olegmoz commented on #349
@rultor release, tag=`0.7`

[2020-11-24 17:29] rultor commented on #349
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23743-733125470)

[2020-11-24 17:44] rultor commented on #349
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23743-733125470) (took me 15min)

[2020-11-26 09:19] olegmoz commented on #349
@rultor release, tag=`0.7.1`

[2020-11-26 09:20] rultor commented on #349
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23743-734177482)

[2020-11-26 09:32] rultor commented on #349
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23743-734177482) (took me 12min)

[2020-11-26 10:51] olegmoz opened #353 "Bearer authentication"
Bearer authentication is supported in HTTP module, but `DockerSlice` enforces Basic authentication method. Authentication scheme should be customizable in `DockerSlice`.

[2020-11-27 13:23] olegmoz opened #354 "Image tags listing"
Docker should handle tags listing requests `GET /v2/<name>/tags/list?n=<count>last=<last page name>`, see https://docs.docker.com/registry/spec/api/#tags

[2020-11-27 13:24] olegmoz opened #355 "Catalog endpoint"
Docker should handle repositories listing endpoint `GET /v2/_catalog?n=<integer>&last=<integer>`, see https://docs.docker.com/registry/spec/api/#catalog

[2020-11-27 14:34] olegmoz opened #356 "Unexpected error on sending empty manifest"
On attempt to `PUT` empty manifest it fails to be parsed and `500` error code is returned. It is more in line with spec to return `MANIFEST_INVALID` error in such case.

[2020-11-30 07:45] #356 closed

[2020-12-01 11:21] olegmoz commented on #354
@rultor release, tag=`0.7.2`

[2020-12-01 11:23] rultor commented on #354
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23789-736451526)

[2020-12-01 11:35] rultor commented on #354
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23789-736451526) (took me 12min)

[2020-12-01 16:35] #300 closed

[2020-12-02 08:50] 0pdd opened #366 "CacheManifests.java:44-46: Implement tags method in..."
The puzzle `354-246357cd` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/cache/CacheManifests.java#L44-L46

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-12-02 08:50] 0pdd opened #367 "CacheDocker.java:37-39: Implement catalog method in..."
The puzzle `354-33d8d08b` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/cache/CacheDocker.java#L37-L39

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-12-02 08:50] 0pdd opened #368 "TrimmedDocker.java:38-40: Implement catalog method in..."
The puzzle `354-f3640377` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/http/TrimmedDocker.java#L38-L40

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-12-02 08:51] 0pdd opened #369 "ReadWriteManifests.java:39-41: Implement tags method in..."
The puzzle `354-e024ff3c` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/composite/ReadWriteManifests.java#L39-L41

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-12-02 08:51] 0pdd opened #370 "ReadWriteDocker.java:41-43: Implement catalog method in..."
The puzzle `354-e256ad9b` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/composite/ReadWriteDocker.java#L41-L43

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-12-02 08:51] 0pdd opened #371 "MultiReadDocker.java:46-48: Implement catalog method in..."
The puzzle `354-06e994e0` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/composite/MultiReadDocker.java#L46-L48

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-12-02 08:51] 0pdd opened #372 "MultiReadManifests.java:44-46: Implement tags method in..."
The puzzle `354-45ba10a4` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/composite/MultiReadManifests.java#L44-L46

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-12-02 08:51] 0pdd opened #373 "AstoManifests.java:51-53: Implement tags method in..."
The puzzle `354-03312e15` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/asto/AstoManifests.java#L51-L53

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-12-02 08:51] 0pdd opened #374 "AstoDocker.java:38-40: Implement catalog method in..."
The puzzle `354-210847a1` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/asto/AstoDocker.java#L38-L40

The puzzle was created by @olegmoz on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-12-02 08:52] 0pdd opened #375 "ProxyManifests.java:53-55: Implement tags method in..."
The puzzle `354-7a1c5d49` from #354 has to be resolved:

https://github.com/artipie/docker-adapter/blob/b1ddbedc9b63993be3999b3d80f8250f3b7d5dc4/src/main/java/com/artipie/docker/proxy/ProxyManifests.java#L53-L55

The puzzle was created by Oleg Mozzhechkov on 02-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b